[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
whitenoise = "*"
crispy-bootstrap5 = "*"
distlib = "*"
dj-database-url = "*"
django-crispy-forms = "*"
django-on-heroku = "*"
filelock = "*"

[dev-packages]

[requires]
python_version = "3.11"
