

.form-check {
                    margin-top: 1vh;
                    font-weight: bolder;
                    font-size: 22px;
                    align-self: center;
}

#frm-mainmodel {
                    margin-top: 1vh;
}