

.form-check {
                    margin-top: 2vh;
                    font-weight: bolder;
                    font-size: 40px;
                    

}

#frm-mainmodel {
                    margin-top: 1vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
}

