#swift {
           border: none;         
}

.table {
          margin-top: 1vh;   
}

.form-check {
                    margin-top: 1vh;
                    font-weight: bolder;
                    font-size: 22px;
}

#frm-mainmodel {
                    margin-top: 1vh;
}