@page {
                    size: A4;
                    margin-top: 2vh;
}

#print {
                    display: none;
                    visibility: none;
}

#onepage {
                    display: flex;
                   
}

table {
                    font-size: 14px;
                    margin-top: 1px;
}

table tbody tr {
                    margin-top: 0px;
                    height: 11px;
}