html body {
                    margin: 0px;
                   
}

@page {
                  size: A4;
                  margin-top: 3vh;
                  margin-left: 5vw;
                  margin-bottom: 0px;
                  width: 80%;
                  height: 100%;
}

/*#printPDF {
                    display: none;
                    visibility: none;
}*/

#addremark {
                    margin-left: 3vw;
                    font-size: 12px;
}

#onepage {
                    display: flex;
                   
}


table {
                    font-size: 14px;
                    margin-top: 0px;
}

.nameacc {
                    font-size: 14px;
}

