{% extends 'adminadddata.html' %}
{% load static %}

{% block style %}
 <link rel="stylesheet"  href="{% static '/css/mainwallperper.css' %}"">
{% endblock %}


{% block content %}
<div class="frm-body bg-white">
<!--ข้อมูลเก่า-->
<table class="table table-dark">
  <thead>
    <tr>
      <th>Code</th>
      <th>Detail</th>
      <th>Price</th>
      <th>Type</th>
      <th>Model</th>
   </tr>
  </thead>
  <tbody>
    {% for i in dataacc %}
    <tr>
      <td>{{i.acc_code}}</td>
      <td>{{i.acc_name}}</td>
      <td>{{i.acc_price}}</td>
      <td>{{i.acc_type}}</td>
      <td>{{i.acc_model}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form method="POST" action="addacc">
{% csrf_token %}
{% for i in dataacc %}
<div class="mb-3" style="display:none;" >
  <input type="text" class="form-control" name="idacc" value={{i.id}}  placeholder="">
</div>
 <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">รหัสสินค้า</label>
                     <input type="text" class="form-control" value={{i.acc_code}} name="acc_code"  placeholder="acc code">
 </div>
 <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">ชื่ออุปกรณ์ตกเเต่ง</label>
                     <input type="text" class="form-control" value={{i.acc_name}} name="acc_name"  placeholder="acc name">
 </div>
 <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">ราคา</label>
                     <input type="number" class="form-control" value={{i.acc_price}} name="acc_price"  placeholder="acc price">
 </div>
 <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">ประเภท</label>
                     <input type="text" class="form-control" value={{i.acc_type}} name="acc_type"  placeholder="acc type">
 </div>
 <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">รุ่นหลัก</label>
                     <input type="text" class="form-control" value={{i.acc_model}} name="acc_model"  placeholder="acc model">
 </div>
 {% endfor %}
 <div  style="display : flex; justify-content: center ; margin-top: 2vh;">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="doit" id="inlineRadio1" value="create">
    <label class="form-check-label" for="inlineRadio1">สร้างใหม่</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="doit" id="inlineRadio2" value="update" checked>
    <label class="form-check-label" for="inlineRadio2">อัพเดทข้อมูล</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="doit" id="inlineRadio3" value="delete">
    <label class="form-check-label" for="inlineRadio3">ลบทิ้ง</label>
  </div>
  </div>

  <div  style="display : flex; justify-content: center ; margin-top: 2vh;">
    <button  type="submit" style="display: flex;
    justify-content: center;
    padding : 0px 3vw;
    width : 25%;
    height : 40px;
    font-size : 20px;
    border-radius : 20px;
    border : 4px solid white ;
    outline-style: solid;
    outline-color: green;
    outline-width: thick;
    background: green;">
      <strong class="text-light" style="height: 100%;">Submit</strong>
    </button> 
  <div>

</form>
</div>
{% endblock %}