{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="addcolor">
{% csrf_token %}
<div class="container">
                   
                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">SUBMODEL</label>
                                        <input type="text" class="form-control" name="submodel"  placeholder="submodel">
                    </div>
                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">COLOR</label>
                                        <input type="text" class="form-control" name="color"  placeholder="color">
                    </div>
                    <div class="d-grid gap-1">
                                        <button class="btn btn-success" type="submit"><storng>Save</storng></button>
                    </div>


</div>
</form>

{% endblock %}