{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Admin Add Data</title>
                    <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}">
                    {% block style  %} {% endblock %}

                    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
                    {% block script %} {% endblock %}

         
</head>

<body>
   
   <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
   <div class="container-fluid">
     <a class="navbar-brand" href="#"><strong>Welcome I-style T</strong></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="">User login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="admin/">Admin login</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Add data list
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="pageaddcolor">Colors</a></li>
             <li><a class="dropdown-item" href="pageaddacc">Accessories</a></li>
             <li><a class="dropdown-item" href="pageaddproduct">Price & Margin</a></li>
             <li><a class="dropdown-item" href="pageaddregiscost">Regis Cost</a></li>
           </ul>
         </li>
       </ul>
     </div>
   </div>
  </nav>
  
  <div class="container">
                    {% block content %}

                    {% endblock %}
  </div>
 
                    
  
      
</body>
</html>