{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div align="center" style="margin-top: 2vh;">
  <div  class="card text-white bg-danger mb-3" style="max-width: 25rem;">
      <div class="card-header">รายละเอียดค่าใช้จ่าย</div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">เงินดาวน์ : {{downcost}} บาท</li>
          <li class="list-group-item">ค่างวดก่อนใช้ส่วนลด : {{car_payment}} บาท</li>
          <li class="list-group-item">จำนวนงวด : {{monthqty}} เดือน</li>
      </ul>
  </div>
  </div>
  <div style="margin-top: 3vh;  height: 6vh;" class="d-grid gap-1">
    <button type="submit" class="btn btn-success">ออกรถสบาย</button>
  </div>
  <div style="margin-top: 2vh;  height: 6vh;" class="d-grid gap-1">
    <button type="submit" class="btn btn-warning">ผ่อนสบาย</button>
  </div>
{% endblock %}