{% extends 'layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/branchadd.css' %}" >
{% endblock %}
{% block script %}
   <script type="text/javascript" src="{% static 'js/function.js' %}" defer></script>
{%  endblock %}
{% block content %}
<p id="productprice" style="display: none;" >{{productprice}}</p> <!----สร้างเพื่อให้ javascript เก็บค่า-->
<div  class="frm-body bg-white">
  <table class="table">
    <tr>
      <th class="fw-semibold">{{submodel}}</th>
      <th class="fw-semibold">: {{text_productprice}} บาท</th>
    </tr>
  </table>
<form method="POST" action="branchadd">
{% csrf_token %}
  <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 1vh;">
      <!-----------------ส่วนลดตามรุ่น-------------------------->                        
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingF">
          <button id="tab-top" class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseF" aria-expanded="false" aria-controls="flush-collapseF">
            <h6>
              ส่วนลดตามรุ่น
              <span align="right" id="productmargin"></span>
            </h6> 
          </button>
        </h2>
        <div id="flush-collapseF"  class="accordion-collapse collapse" aria-labelledby="flush-headingF" data-bs-parent="#accordionFlushExample">
          <div class="input-group"  >
            <input name="productmargin"  id="idproductmargin" type="number" class="form-control" placeholder="-" onchange="tagPDMG()">
            <span class="input-group-text">บาท</span>
          </div>
        </div>
      </div>
      <!-----------------ส่วนลดจากราคาขาย-------------------------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingA">
          <button  class="accordion-button collapsed text-danger"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseA" aria-expanded="false" aria-controls="flush-collapseA">
            <h6>
              ส่วนลดจากราคาขาย*
              <span align="right" id="min_reduce"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseA" class="accordion-collapse collapse" aria-labelledby="flush-headingA" data-bs-parent="#accordionFlushExample">
          <div class="input-group" >
            <input name="min_reduce" id="idmin_reduce" type="number" class="form-control" placeholder="-" onchange="tagMRD()">
            <span class="input-group-text">บาท</span>
          </div>
        </div>
      </div>
      <!-------บวกหัวค่าอุปกรณ์-------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
            <h6>
              บวกหัวค่าอุปกรณ์*
              <span align="right" id="add_eq"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="input-group" >
            <input name="add_eq" id="idadd_eq" type="number" class="form-control" placeholder="-" onchange="tagAEQ()">
            <span class="input-group-text">บาท</span>
          </div>
        </div>
      </div>
      <!-------Kickback-------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <h6>
              Kickback
              <span align="right" id="add_kickback"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
           <div class="input-group" >
              <input name="add_kickback" id="idadd_kickback" type="number" class="form-control" placeholder="-" onchange="tagAKB()">
              <span class="input-group-text">บาท</span>
           </div>
        </div>
      </div>
      <!--เงินดาวน์-->
      <div class="accordion-item ">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed text-primary " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            <h6>
              เงินดาวน์*
              <span align="right" id="gen_down"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="alert alert-secondary " style="padding: 1vh 2vw; margin-bottom: 0px;" >
            <span>หมายเหตุ : เงินดาวน์อาจเปลี่ยนเเปลง ถ้ามีการเปลี่ยนการใช้ส่วนลดจากราคาขายหรือบวกหัวค่าอุปกรณ์</span>
          </div>
          <div style="margin: 0px;" class="input-group mb-3" >
            <div style="width:20vw ;">
              <span class="form-control text-center" style="display: none;" id="show_down_percent" ></span><input name="gen_down" id="gen_down_percent" onchange="tagGDPC()" type="number" style="display: block;" class="form-control text-center"  placeholder="%ดาวน์">
            </div>
              <button type="button" class="btn-primary" onclick="caldown()"><strong> = </strong></button>
              <span class="form-control text-center" style="display: none;" id="show_down_bath" ></span><input id="gen_down_bath" type="number" style="display: block;"  class="form-control text-center" placeholder="เงินดาวน์ (บาท)" >
            </div>
            <div align="center" style="margin: 1vh;">
              <button type="button" class="btn btn-outline-primary" onclick="resetdown()">Reset</button>
            </div>
            <div id="downerror" class="alert alert-danger text-center"  style="display: none; margin-bottom: 0px;">
              <h5>กรุณาเลือกกรอกช่องใดช่องหนึ่ง</h5>
            </div>
      
        </div>
      </div>
      <!--ส่วนลดเงินดาวน์-->   
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingC">
          <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseC" aria-expanded="false" aria-controls="flush-collapseC">
            <h6>
              ส่วนลดเงินดาวน์
              <span align="right" id="min_subdown"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseC" class="accordion-collapse collapse" aria-labelledby="flush-headingC" data-bs-parent="#accordionFlushExample">
          <div class="input-group" >
            <input name="min_subdown" id="idmin_subdown" onchange="tagMSD()" type="number" class="form-control" placeholder="-" >
            <span class="input-group-text">บาท</span>
          </div>
        </div>
      </div>
      <!------อัตราดอกเบี้ย/เงื่อนไขดอกเบี้ย-------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h6>
              ดอกเบี้ย/เงื่อนไข*
              <span align="right" id="gen_inter"></span>
              <span align="right" id="condition_finance"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <!--เงื่อนไข 1-->
          <div class="input-group" >
            <select style="text-align: center;" name="gen_month" id="idgen_month" onchange="payMonth()" class="form-select" id="inputGroupSelect00">
              <option value=1 selected>จำนวนงวด</option>
              <option value=12>1 ปี/12 งวด</option>
              <option value=24>2 ปี/24 งวด</option>
              <option value=36>3 ปี/36 งวด</option>
              <option value=48>4 ปี/48 งวด</option>
              <option value=60>5 ปี/60 งวด</option>
              <option value=72>6 ปี/72 งวด</option>
              <option value=84>7 ปี/84 งวด</option>
              <option value=96>8 ปี/96 งวด</option>
            </select>
            <label class="input-group-text btn-primary" for="inputGroupSelect00">ดอกเบี้ย</label><!-- pattern="[0-9]+[\.,]([0-9]{1,2})"-->
            <input style="text-align:center; width: 5vw;" name="gen_inter" id="idgen_inter" onchange="payMonth()" class="form-control"  placeholder="%ดอกเบี้ย">
            <span class="input-group-text btn-primary">%</span>
          </div>
          <div class="alert alert-primary" role="alert" style="display:none; text-align:center;" id="showpaymonth"></div>
          <!--เงื่อนไข 2-->
          <div class="input-group" >
            <select style="text-align: center;" name="gen_month2" id="idgen_month2" onchange="payMonthTwo()" class="form-select" id="inputGroupSelect00">
              <option value=1 selected>จำนวนงวด(2)</option>
              <option value=12>1 ปี/12 งวด</option>
              <option value=24>2 ปี/24 งวด</option>
              <option value=36>3 ปี/36 งวด</option>
              <option value=48>4 ปี/48 งวด</option>
              <option value=60>5 ปี/60 งวด</option>
              <option value=72>6 ปี/72 งวด</option>
              <option value=84>7 ปี/84 งวด</option>
              <option value=96>8 ปี/96 งวด</option>
            </select>
            <label class="input-group-text btn-primary" for="inputGroupSelect00">ดอกเบี้ย(2)</label><!-- pattern="[0-9]+[\.,]([0-9]{1,2})"-->
            <input style="text-align:center; width: 5vw;" name="gen_inter2" id="idgen_inter2" onchange="payMonthTwo()" class="form-control"  placeholder="%ดอกเบี้ย(2)">
            <span class="input-group-text btn-primary">%</span>
          </div>
          <div class="alert alert-primary" role="alert" style="display:none; text-align:center;" id="showpaymonth2"></div>
          <!--เงื่อนไข 3-->
          <div class="input-group" >
            <select style="text-align: center;" name="gen_month3" id="idgen_month3" onchange="payMonthThree()" class="form-select" id="inputGroupSelect00">
              <option value=1 selected>จำนวนงวด(3)</option>
              <option value=12>1 ปี/12 งวด</option>
              <option value=24>2 ปี/24 งวด</option>
              <option value=36>3 ปี/36 งวด</option>
              <option value=48>4 ปี/48 งวด</option>
              <option value=60>5 ปี/60 งวด</option>
              <option value=72>6 ปี/72 งวด</option>
              <option value=84>7 ปี/84 งวด</option>
              <option value=96>8 ปี/96 งวด</option>
            </select>
            <label class="input-group-text btn-primary" for="inputGroupSelect00">ดอกเบี้ย(3)</label><!-- pattern="[0-9]+[\.,]([0-9]{1,2})"-->
            <input style="text-align:center; width: 5vw;" name="gen_inter3" id="idgen_inter3" onchange="payMonthThree()" class="form-control"  placeholder="%ดอกเบี้ย(3)">
            <span class="input-group-text btn-primary">%</span>
          </div>
          <div class="alert alert-primary" role="alert" style="display:none; text-align:center;" id="showpaymonth3"></div>
          <!--จ่ายงวดเเรกไหม-->
          <div class="input-group mb-3" style="margin-top: 0vh;" >
            <label class="input-group-text btn-primary" for="inputGroupSelect01">เงื่อนไขดอกเบี้ย</label>
            <select name="condition_finance" class="form-select" id="idcondition_finance" onchange="tagCDTFN()">
              <option value='END' selected>Ending</option>
              <option value='BEGIN'>Beginning</option>
            </select>
          </div>
        </div>
      </div>
      <!--ค่า subsidy-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingI">
          <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseI" aria-expanded="false" aria-controls="flush-collapseI">
            <h6>
              Subsidy
              <span align="right" id="total_subsidy"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseI" class="accordion-collapse collapse" aria-labelledby="flush-headingI" data-bs-parent="#accordionFlushExample">
          <div class="input-group" >
            <input name="min_prosub" id="idmin_prosub"  type="number" class="form-control" placeholder="โปรซับดอก">
            <span class="input-group-text">บาท</span>
          </div>
          <div class="input-group" >
            <input name="min_inter"  id="idmin_inter"  class="form-control" placeholder="ดอกเบี้ยเสนอลูกค้า">
            <span class="input-group-text">%</span>
          </div>
          <div  class="alert alert-danger" id="showtotalsubsidy" style="display: none; text-align: center; text-align: center; margin: 1vh 0vw;"></div>
          <div align="center" style="margin-top: 0vh; "> 
               <button type="button" style="width: 30vw; margin-bottom: 1vh; font-size: 80%" class="btn btn-outline-danger" onclick="sumSubsidy()"><strong>รวม Subsidy</strong></button>
          </div>
        </div>
      </div>
      <!--------Com ไฟเเนนซ์---------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <h6>
              Com ไฟเเนนซ์
              <span align="right" id="com_fi_percent"></span>
              <span align="right" id="com_fi_month"></span>
            </h6>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="input-group mb-3" style="margin-top: 1vh;">
           <label class="input-group-text" for="idcom_fi_percent">% Com ไฟเเนนซ์</label>
           <select name="com_fi_percent" class="form-select" id="idcom_fi_percent" onchange="tagCFPC()">
             <option value=0 selected>0%</option>
             <option value=4>4%</option>
             <option value=8>8%</option>
             <option value=10>10%</option>
             <option value=12>12%</option>
             <option value=14>14%</option>
             <option value=16>16%</option>
           </select>
          </div>
          <div class="input-group mb-3" style="margin-top: 1vh;">
           <label class="input-group-text" for="idcom_fi_month">จำนวนปี</label>
           <select name="com_fi_month" class="form-select" id="idcom_fi_month" onchange="tagCFM()">
             <option value=0 selected>-</option>
             <option value=12>1 ปี</option>
             <option value=24>2 ปี</option>
             <option value=36>3 ปี</option>
             <option value=48>4 ปี</option>
             <option value=60>5 ปี</option>
             <option value=72>6 ปี</option>
             <option value=84>7 ปี</option>
           </select>
          </div>
        </div>
      </div>
                    <!--------ของเเถม/อุปกรณ์ตกเเต่ง---------->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingD">
                        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseD" aria-expanded="false" aria-controls="flush-collapseD">
                          <h6>ของเเถม/อุปกรณ์ตกเเต่ง</h6>
                        </button>
                      </h2>
                      <div id="flush-collapseD" class="accordion-collapse collapse" aria-labelledby="flush-headingD" data-bs-parent="#accordionFlushExample">
                        <li class="list-group-item" style="display: none;">
                          <div class="form-check d-flex">
                            <input name="min_pdi" class="form-check-input me-2" type="checkbox" value=500 checked disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                               ค่า PDI (ตรวจสอบก่อนส่งมอบ) 500 บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item" style="display: none;">
                          <div class="form-check d-flex">
                            <input name="min_frame" class="form-check-input me-2" type="checkbox" value=130 checked disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                               กรอบป้ายทะเบียนโชว์รูม 130 บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item" style="display: none;">
                          <div class="form-check d-flex">
                            <input name="min_polish" class="form-check-input me-2" type="checkbox" value=500 checked disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                               ขัดเคลือบสีรถใหม่ 500 บาท
                            </label>
                          </div>
                       </li> 
                        <li class="list-group-item">
                          <div class="form-check d-flex" >
                            <input name="min_regis" value='Y' class="form-check-input me-2" type="checkbox" checked >
                            <label class="form-check-label" for="flexCheckDefault">
                               ค่าจดทะเบียน {{regiscost}} บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item" style="border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
                        <div class="form-check d-flex">
                          <input value="Y" name="min_subdown_vat" class="form-check-input me-2" type="checkbox"  checked >
                          <label class="form-check-label" for="flexCheckDefault">
                            Vat ซับดาวน์ 7% 
                          </label>
                          <span id="idshowvatsubdown" style="display: none;"></span>
                        </div>
                       </li>  
                    
                      
                      <!-------->


                     
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <input type="text" style="width:30vw"  name="text_acc_card" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide1').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      
                      <!--ส่วน display none-->
                      <div id="hide1" style="display: none;">
                        <div class="input-group mb-3" style="margin-top: 1vh;">
                          <input type="text" style="width:30vw" name="text_acc_card_1" class="form-control" placeholder="รายการของเเถม" aria-label="">
                          <span class="input-group-text">ราคา</span>
                          <input type="number" name="min_acc_card_1" class="form-control text-center" placeholder="ราคา" aria-label="">
                          <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide2').style.display = 'block'; this.style.display = 'none';" >
                            <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                          </button>
                        </div>
                      </div>
                     
                    <div id="hide2" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw"  name="text_acc_card_2" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_2" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide3').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                    </div>

                    <div id="hide3" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_3" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_3" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide4').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                    <div id="hide4" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_4" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_4" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide5').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                    <div id="hide5" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_5" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_5" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide6').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                    <div id="hide6" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_6" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_6" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide7').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                    <div id="hide7" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_7" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_7" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide8').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                    <div id="hide8" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_8" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_8" class="form-control text-center" placeholder="ราคา" aria-label="">
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide9').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                      </div>
                      </div>

                      <div id="hide9" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <input type="text" style="width:30vw" name="text_acc_card_9" class="form-control" placeholder="รายการของเเถม" aria-label="">
                        <span class="input-group-text">ราคา</span>
                        <input type="number" name="min_acc_card_9" class="form-control text-center" placeholder="ราคา" aria-label="">
                      </div>
                      </div>
                      <!---->
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_1_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}} <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek1').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       

                      <!--ส่วน display none-->
                      <div id="seek1" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_2_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek2').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek2" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_3_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek3').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                      <div id="seek3" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_4_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek4').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                      <div id="seek4" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_5_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek5').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek5" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_6_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek6').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek6" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_7_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek7').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek7" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_8_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek8').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek8" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_9_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek9').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek9" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_10_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek10').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek10" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_11_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek11').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek11" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_12_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek12').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek12" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_13_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek13').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek13" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_14_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek14').style.display = 'block'; this.style.display = 'none';">
                          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
                        </button>
                       </div>
                       </div>
                       <div id="seek14" style="display : none;">
                      <div class="input-group mb-3" style="margin-top: 1vh; ">
                        <select name="min_acc_15_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                        
                       </div>
                       </div>
                      <!---->
                                 
                    </div>
                    </div>

                      <!--------เงินจอง---------->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                            <h6>
                              เงินจอง
                              <span align="right" id="gen_prepay"></span>
                            </h6>
                          </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                          <div class="input-group" >
                             <input name="gen_prepay" id="idgen_prepay" onchange="tagGPP()" type="number" class="form-control" placeholder="-">
                             <span class="input-group-text">บาท</span>
                          </div>
                        </div>
                      </div>
                      <!-------บริษัทไฟเเนนซ์------>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                            <h6>
                              บริษัทไฟเเนนซ์
                              <span align="right" id="gen_company"></span>
                            </h6>
                          </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                          <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">ไฟเเนนซ์</label>
                            <select  name="gen_company" id="idgen_company" onchange="tagGCPN()" class="form-select" >
                              <option value="" selected>กรุณาเลือก</option>
                              <option value='K'>ลีสซิ่งกสิกรไทย</option>
                              <option value='TTB'>ทหารไทยธนชาต</option>
                              <option value='AY'>กรุงศรีออโต้</option>
                              <option value='ICBC'>ICBC</option>
                              <option value='KPP'>เกียรตินาคิน</option>
                              <option value='TISCO'>TISCO</option>
                              <option value='SCB'>ไทยพาณิชย์</option>
                              <option value='CITY'>Cityleasing</option>
                            </select>
                           </div>
                        </div>
                      </div>
                    <!--------หมายเหตุ ------------>
                    <div class="accordion-item">
                      <div id="flush-collapseG" class="accordion-collapse collapse" aria-labelledby="flush-headingG" data-bs-parent="#accordionFlushExample">
                        <div class="input-group">
                            <textarea name="gen_remark"  id="idgen_remark" type="text" class="form-control"  rows="1" ></textarea>                  
                        </div>
                      </div>
                      <h2 class="accordion-header" id="flush-headingG">
                        <button id="tab-buttom" class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseG" aria-expanded="false" aria-controls="flush-collapseG">
                            <h6>หมายเหตุ</h6> 
                        </button>
                      </h2>
                    </div>


        </div>
  <div class="d-grid gap-1" style="margin-top: 2vh;">
    <button class="btn btn-danger" type="submit">ดำเนินการต่อ</button>
  </div>
</form>


</div>


<script>

/**********************************************************************************************************/
/****คำนวณยอดจัดไฟเเนนซ์****/
function costFinance(){
  /*เก็บค่าตัวเเปร*/
  const productprice = Number(document.getElementById('productprice').innerHTML) ;
  const gen_down_percent = Number(document.getElementById('gen_down_percent').value || 0);
  const min_reduce = Number(document.getElementById('idmin_reduce').value || 0); 
  const add_eq = Number(document.getElementById('idadd_eq').value || 0);
  /*คำนวณค่า*/
  const net_productprice = productprice - min_reduce + add_eq ;
  const cost_finance = net_productprice * (1-(gen_down_percent/100)) ;
  /*ส่งค่า*/

  return cost_finance 
};

/*คำนวนค่างวดจริง*/
function payMonth() {
  /*เก็บค่า*/
  const x = costFinance();
  const gen_month = Number(document.getElementById('idgen_month').value) ;
  const gen_inter = Number(document.getElementById('idgen_inter').value || 0) ;
  /*คำนวนดอกเบี้ย/ค่างวด*/
  const totalinter =  parseInt(x * (gen_inter/100) * (gen_month /12));
  const paymonth = parseInt((totalinter + x)/gen_month);
  /*ส่งค่า*/
  if (gen_month === 1 || gen_inter === 0) {
    document.getElementById('showpaymonth2').style.display = 'none';
  } 
  else{
    document.getElementById('gen_inter').innerHTML = "="+" "+ gen_inter + "%";
    document.getElementById('showpaymonth').style.display = 'block';
    document.getElementById('showpaymonth').innerHTML = 'ดอกเบี้ย'+' '+'='+' '+(totalinter.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท'+'/'+'ค่างวด' +" " + '=' + ' ' + (paymonth.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท';
  }
  return 
}

/*คำนวนค่างวด2*/
function payMonthTwo() {
  /*เก็บค่า*/
  const x = costFinance();
  const gen_month2 = Number(document.getElementById('idgen_month2').value) ;
  const gen_inter2 = Number(document.getElementById('idgen_inter2').value || 0) ;
  /*คำนวนดอกเบี้ย/ค่างวด*/
  const totalinter2 =  parseInt(x * (gen_inter2/100) * (gen_month2 /12));
  const paymonth2 = parseInt((totalinter2 + x)/gen_month2);
  /*ส่งค่า*/
  if (gen_month2 === 1 || gen_inter2 === 0) {
    document.getElementById('showpaymonth2').style.display = 'none';
  } 
  else {
    document.getElementById('showpaymonth2').style.display = 'block';
    document.getElementById('showpaymonth2').innerHTML = 'ดอกเบี้ย'+' '+'='+' '+(totalinter2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท'+'/'+'ค่างวด' +" " + '=' + ' ' + (paymonth2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท';
  }
  return
}
/*คำนวนค่างวด2*/
function payMonthThree() {
  /*เก็บค่า*/
  const x = costFinance();
  const gen_month3 = Number(document.getElementById('idgen_month3').value) ;
  const gen_inter3 = Number(document.getElementById('idgen_inter3').value || 0) ;
  /*คำนวนดอกเบี้ย/ค่างวด*/
  const totalinter3 =  parseInt(x * (gen_inter3/100) * (gen_month3 /12));
  const paymonth3 = parseInt((totalinter3 + x)/gen_month3);
  /*ส่งค่า*/
  if (gen_month3 === 1 || gen_inter3 === 0) {
    document.getElementById('showpaymonth2').style.display = 'none';
  } 
  else {
    document.getElementById('showpaymonth3').style.display = 'block';
    document.getElementById('showpaymonth3').innerHTML = 'ดอกเบี้ย'+' '+'='+' '+(totalinter3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท'+'/'+'ค่างวด' +" " + '=' + ' ' + (paymonth3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) + ' ' + 'บาท';
  }
  return 
}

/*ส่วนฟังก์ชันเเสดงผล*/
function tagPDMG() {
  const tagproductmargin = document.getElementById('idproductmargin').value;
  if (tagproductmargin === ""){
    document.getElementById('productmargin').innerHTML = "";
  }
  else{
    document.getElementById('productmargin').innerHTML = "="+" "+(tagproductmargin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) +" "+'บาท' ;
  }
   
};
function tagMRD() {
  const tagmin_reduce = document.getElementById('idmin_reduce').value;
  if (tagmin_reduce === "") {
    document.getElementById('min_reduce').innerHTML = "";
  }
  else {
    document.getElementById('min_reduce').innerHTML = "="+" "+(tagmin_reduce.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท' ; 
  }
  caldownthis()
  payMonth();
  payMonthTwo();
  payMonthThree();
  
};
function tagAEQ() {
  const tagadd_eq = document.getElementById('idadd_eq').value;
  if (tagadd_eq === ""){
    document.getElementById('add_eq').innerHTML = "";
  }
  else {
    document.getElementById('add_eq').innerHTML = "="+" "+(tagadd_eq.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท' ; 
  }
  caldownthis()
  payMonth();
  payMonthTwo();
  payMonthThree();
  
};
function tagAKB() {
  const tagadd_kickback = document.getElementById('idadd_kickback').value;
  if (tagadd_kickback === ""){
    document.getElementById('add_kickback').innerHTML = "";
  }
  else {
    document.getElementById('add_kickback').innerHTML = "="+" "+(tagadd_kickback.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท'; 
  }
  
};
function tagMPS() {
  const tagmin_prosub = document.getElementById('idmin_prosub').value;
  if (tagmin_prosub === ""){
    document.getElementById('min_prosub').innerHTML = "";
  }
  else {
    document.getElementById('min_prosub').innerHTML =  "="+" "+(tagmin_prosub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท'; 
  }
  
};
function tagGDPC() {
  const taggen_down_percent = document.getElementById('gen_down_percent').value;
  if (taggen_down_percent === ""){
    document.getElementById('gen_down').innerHTML = "";
  }
  else {
    caldownthis();
  }
  payMonth();
  payMonthTwo();
  payMonthThree();
   
};
function caldownthis() {
  // เก็บค่าตัวเเปรที่เกี่ยวกับเงินดาวน์
  const gen_down_percent_this = document.getElementById('gen_down_percent').value | 0 ;
  const min_reduce_this = document.getElementById('idmin_reduce').value | 0;
  const add_eq_this = document.getElementById('idadd_eq').value | 0;
  const productprice_this = document.getElementById('productprice').innerHTML ;
  let net_productprice_this = productprice_this-min_reduce_this+add_eq_this ;
  // คำนวนค่า
  const down_bath_this = net_productprice_this*(gen_down_percent_this/100);
  //เเสดงผล
  document.getElementById('gen_down').innerHTML =  "="+" "+((down_bath_this).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท';
  return down_bath_this
};
function tagMSD() {
  const tagmin_subdown = document.getElementById('idmin_subdown').value;
  const vat_subdown = parseInt(tagmin_subdown * 0.07) ;
  document.getElementById('idshowvatsubdown').innerHTML =  "="+" "+(vat_subdown.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+"บาท";
  document.getElementById('idshowvatsubdown').style.display = "block";
  console.log(vat_subdown); 
  if (tagmin_subdown === ""){
    document.getElementById('min_subdown').innerHTML = "";
  }
  else {
    document.getElementById('min_subdown').innerHTML =  "="+" "+(tagmin_subdown.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท';
  }
   
};
function tagGM() {
  const taggen_month = document.getElementById('idgen_month').value;
  payMonth();
  payMonthTwo();
  payMonthThree();
};
function tagGPP() {
  const taggen_prepay = document.getElementById('idgen_prepay').value;
  if (taggen_prepay === ""){
    document.getElementById('gen_prepay').innerHTML = "";
  }
  else {
    document.getElementById('gen_prepay').innerHTML =  "="+" "+(taggen_prepay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท';
  }
   
};
function tagGIT() {
  const taggen_inter = document.getElementById('idgen_inter').value;
  if (taggen_inter === ""){
    document.getElementById('gen_inter').innerHTML = "";
  }
  else {
    document.getElementById('gen_inter').innerHTML =  "="+" "+(taggen_inter.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+"%"; 
  }
  payMonthTwo();
  payMonthThree();
};
function tagCDTFN() {
  const tagcondition_finance = document.getElementById('idcondition_finance').value;
  document.getElementById('condition_finance').innerHTML =  "/"+" "+(tagcondition_finance); 
  
};
function tagCFPC() {
  const tagcom_fi_percent = document.getElementById('idcom_fi_percent').value;
  document.getElementById('com_fi_percent').innerHTML =  "="+" "+(tagcom_fi_percent.toString())+"%"; 
  
};
function tagCFM() {
  const tagcom_fi_month = document.getElementById('idcom_fi_month').value;
  document.getElementById('com_fi_month').innerHTML =  "/"+" "+(tagcom_fi_month.toString())+" "+"เดือน"; 
  
};
function tagGCPN() {
  const taggen_company = document.getElementById('idgen_company').value;
  if (taggen_company == 'K'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"ลีสซิ่งกสิกรไทย" ;
  }
  else if (taggen_company == 'TTB'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"ทหารไทยธนชาต" ;
  }
  else if (taggen_company == 'AY'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"กรุงศรีออโต้" ;
  }
  else if (taggen_company == 'ICBC'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"ICBC" ;
  }
  else if (taggen_company == 'KPP'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"เกียรตินาคิน" ;
  }
  else if (taggen_company == 'TISCO'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"TISCO" ;
  }
  else if (taggen_company == 'SCB'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"ไทยพาณิชย์" ;
  }
  else if (taggen_company == 'CITY'){
    document.getElementById('gen_company').innerHTML =  "="+" "+"Cityleasing" ;
  }
  else {
    document.getElementById('gen_company').innerHTML =  "";
  }
   
};

window.addEventListener("load", tagPDMG());
</script>
{% endblock %}