{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/branchadd.css' %}" >
{% endblock %}

{% block script %}
   <script type="text/javascript" src="{% static 'js/function.js' %}" defer></script>
{%  endblock %}


{% block content %}

<p id="productprice" style="display: none;" >{{productprice}}</p> <!----สร้างเพื่อให้ javascript เก็บค่า-->

<table class="table">
  <tr>
    <th>รุ่นรถ :</th>
    <td><strong>{{submodel}}</strong></td>
    <th>ราคา :</th>
    <td><strong>{{text_productprice}}</strong> บาท</td>
  </tr>
</table>


<form method="POST" action="branchadd">
{% csrf_token %}
    <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 1vh;">


                         <!-----------------ส่วนลดตามรุ่น-------------------------->

                         <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingF">
                            <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseF" aria-expanded="false" aria-controls="flush-collapseF">
                          
                                <h5>
                                  <strong>ส่วนลดตามรุ่น</strong>
                                  <strong align="right" id="productmargin"></strong>
                                </h5> 
                      
                            </button>
                          </h2>
                          <div id="flush-collapseF" class="accordion-collapse collapse" aria-labelledby="flush-headingF" data-bs-parent="#accordionFlushExample">
                                            <div class="input-group" style="margin-top: 1vh;">
                                                                <input name="productmargin"  id="idproductmargin" type="number" class="form-control" placeholder="-" onchange="tagPDMG()">
                                                                <span class="input-group-text">บาท</span>
                                            </div>
                          </div>
                        </div>


                         
                        
                         <!-----------------ส่วนลดจากราคาขาย-------------------------->

                         <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingA">
                            <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseA" aria-expanded="false" aria-controls="flush-collapseA">
                              <h5>
                                <strong>ส่วนลดจากราคาขาย</strong>
                                <strong align="right" id="min_reduce"></strong>
                              </h5>
                
                            </button>
                          </h2>
                          <div id="flush-collapseA" class="accordion-collapse collapse" aria-labelledby="flush-headingA" data-bs-parent="#accordionFlushExample">
                                            <div class="input-group" style="margin-top: 1vh;">
                                                                <input name="min_reduce" id="idmin_reduce" type="number" class="form-control" placeholder="-" onchange="tagMRD()">
                                                                <span class="input-group-text">บาท</span>
                                            </div>
                          </div>
                        </div>
                         <!-------บวกหัวค่าอุปกรณ์-------->
                         <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                              <h5>
                                <strong>บวกหัวค่าอุปกรณ์</strong>
                                <strong align="right" id="add_eq"></strong>
                              </h5>
                              

                            </button>
                          </h2>
                          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                         <div class="input-group" style="margin-top: 1vh;">
                                                             <input name="add_eq" id="idadd_eq" type="number" class="form-control" placeholder="-" onchange="tagAEQ()">
                                                             <span class="input-group-text">บาท</span>
                                         </div>
                          </div>
                        </div>
                         <!-------Kickback------->
                         <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <h5>
                                <strong>Kickback</strong>
                                <strong align="right" id="add_kickback"></strong>
                              </h5>
                          
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                         <div class="input-group" style="margin-top: 1vh;">
                                                             <input name="add_kickback" id="idadd_kickback" type="number" class="form-control" placeholder="-" onchange="tagAKB()">
                                                             <span class="input-group-text">บาท</span>
                                         </div>
                          </div>
                        </div>
                         <!-----------โปรโมชั่น Subsidy-------------->
                         <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingX">
                            <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseX" aria-expanded="false" aria-controls="flush-collapseX">
                              <h5>
                                <strong>โปรโมชั่น Subsidy</strong>
                                <strong align="right" id="min_prosub"></strong>
                              </h5>
                    
                            </button>
                          </h2>
                          <div id="flush-collapseX" class="accordion-collapse collapse" aria-labelledby="flush-headingX" data-bs-parent="#accordionFlushExample">
                                            <div class="input-group" style="margin-top: 1vh;">
                                                                <input name="min_prosub" id="idmin_prosub" type="number" class="form-control" placeholder="-" onchange="tagMPS()">
                                                                <span class="input-group-text">บาท</span>
                                            </div>
                          </div>
                        </div>
                        <!--------------------------เงินดาว์น------------------->
                        <div class="accordion-item ">
                          <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed text-primary " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                              <h5><strong>เงินดาวน์</strong></h5>
                              <span id="gen_down"></span>
                            </button>
                          </h2>
                          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                               
                            <div style="margin-top: 1vh;" class="alert alert-secondary " >
                              <span>หมายเหตุ : เงินดาวน์อาจเปลี่ยนเเปลง ถ้ามีการเปลี่ยนการใช้ส่วนลดจากราคาขายหรือบวกหัวค่าอุปกรณ์</span>
                            </div>
                        
                            <div class="input-group mb-3 "  style="margin-top: 1vh;">
                              <div style="width:30vw ;">
                                <span class="form-control text-center" style="display: none;" id="show_down_percent" ></span><input name="gen_down" id="gen_down_percent" type="number" style="display: block;" class="form-control text-center"  placeholder="%ดาวน์">
                              </div>
                                <button type="button" class="btn-success" onclick="caldown()"> = </button>
                                <span class="form-control text-center" style="display: none;" id="show_down_bath" ></span><input id="gen_down_bath" type="number" style="display: block;"  class="form-control text-center" placeholder="เงินดาวน์ (บาท)" >
                              </div>
                              <div align="center">
                                <button type="button" style="width: 50vw; margin-bottom: 1vh;" class="btn btn-outline-primary" onclick="resetdown()"><h5></h5><strong>Reset</strong></button>
                              </div>
                              
                              <div id="downerror" class="alert alert-danger text-center"  style="display: none;">
                                <h5></h5><strong>กรุณาเลือกกรอกช่องใดช่องหนึ่ง</strong>
                              </div>
                        
                              </div>
                          
                        </div>
                           <!---------ซับเงินดาวน์----------->
                     <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingC">
                        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseC" aria-expanded="false" aria-controls="flush-collapseC">
                          <h5><strong>ซับเงินดาวน์</strong></h5>
                          <span id="min_subdown"></span>
                        </button>
                      </h2>
                      <div id="flush-collapseC" class="accordion-collapse collapse" aria-labelledby="flush-headingC" data-bs-parent="#accordionFlushExample">
    
                                        <div class="input-group" style="margin-top: 1vh;">
                                                            <input name="min_subdown" type="number" class="form-control" placeholder="-" >
                                                            <span class="input-group-text">บาท</span>
                                        </div>
                                        <li class="list-group-item">
                                          <div class="form-check">
                                            <input  value="Y" name="min_subdown_vat" class="form-check-input" type="checkbox"  checked >
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Vat ซับดาวน์ 7%
                                            </label>
                                          </div>
                                       </li>         
                      </div>
                    </div>
                        
                      
             <!------------จำนวนงวด----------------->
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                              <h5><strong>จำนวนงวด</strong></h5>
                              <span id="gen_month"></span>
                            </button>
                          </h2>
                          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="input-group mb-3" style="margin-top: 1vh;">
                              <label class="input-group-text" for="inputGroupSelect01">จำนวนปี</label>
                              <select name="gen_month" class="form-select" id="inputGroupSelect01">
                                <option value=12 selected>กรุณาเลือก</option>
                                <option value=12>1 ปี</option>
                                <option value=24>2 ปี</option>
                                <option value=36>3 ปี</option>
                                <option value=48>4 ปี</option>
                                <option value=60>5 ปี</option>
                                <option value=72>6 ปี</option>
                                <option value=84>7 ปี</option>
                              </select>
                             </div>
                          </div>
                        </div>
                        <!------อัตราดอกเบี้ย/เงื่อนไขดอกเบี้ย-------->
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              <h5><strong>อัตราดอกเบี้ย/เงื่อนไขดอกเบี้ย</strong></h5>
                              <span id="gen_inter"></span>
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                         <div class="input-group" style="margin-top: 1vh;">
                                                             <input name="gen_inter"  class="form-control" placeholder="-">
                                                             <span class="input-group-text">%</span>
                                         </div>

                                         <div class="input-group mb-3" style="margin-top: 1vh;">
                                          <label class="input-group-text" for="inputGroupSelect01">เงื่อนไขดอกเบี้ย</label>
                                          <select name="condition_finance" class="form-select" id="inputGroupSelect01">
                                            <option value='END' selected=>Ending</option>
                                            <option value='BEGIN'>Beginning</option>
                                          </select>
                                        </div>
              
                          </div>
                     
                        </div>
                        <!--------Com ไฟเเนนซ์---------->
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <h5><strong>Com ไฟเเนนซ์</strong></h5>
                              <span id="com_fi"></span>
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                         <div class="input-group mb-3" style="margin-top: 1vh;">
                                                             <label class="input-group-text" for="inputGroupSelect01">% Com ไฟเเนนซ์</label>
                                                             <select name="com_fi_percent" class="form-select" id="inputGroupSelect01">
                                                               <option value=0 selected>-</option>
                                                               <option value=0>0%</option>
                                                               <option value=4>4%</option>
                                                               <option value=8>8%</option>
                                                               <option value=10>10%</option>
                                                               <option value=12>12%</option>
                                                               <option value=14>14%</option>
                                                               <option value=16>16%</option>
                                                             </select>
                                         </div>
                                         <div class="input-group mb-3" style="margin-top: 1vh;">
                                                             <label class="input-group-text" for="inputGroupSelect01">จำนวนปี</label>
                                                             <select name="com_fi_month" class="form-select" id="inputGroupSelect01">
                                                               <option value=0 selected>-</option>
                                                               <option value=12>1 ปี</option>
                                                               <option value=24>2 ปี</option>
                                                               <option value=36>3 ปี</option>
                                                               <option value=48>4 ปี</option>
                                                               <option value=60>5 ปี</option>
                                                               <option value=72>6 ปี</option>
                                                               <option value=84>7 ปี</option>
                                                             </select>
                                         </div>
                     
                          </div>
                        </div>
                         <!----------ซับดอกเบี้ย------------->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingE">
                        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseE" aria-expanded="false" aria-controls="flush-collapseE">
                          <h5><strong>ซับดอกเบี้ย</strong></h5>
                          <span id="min_inter"></span>
                        </button>
                      </h2>
                      <div id="flush-collapseE" class="accordion-collapse collapse" aria-labelledby="flush-headingE" data-bs-parent="#accordionFlushExample">
                                        <div class="input-group" style="margin-top: 1vh;">
                                                            <input name="min_inter" type="number" class="form-control" placeholder="-">
                                                            <span class="input-group-text">บาท</span>
                                        </div>
                      </div>
                    </div>

                       
 
                  
                  
                    <!--------ของเเถม/อุปกรณ์ตกเเต่ง---------->


                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingD">
                        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseD" aria-expanded="false" aria-controls="flush-collapseD">
                          <h5><strong>ของเเถม/อุปกรณ์ตกเเต่ง</strong></h5>
                        </button>
                      </h2>
                      <div id="flush-collapseD" class="accordion-collapse collapse" aria-labelledby="flush-headingD" data-bs-parent="#accordionFlushExample">
                       
                        <li class="list-group-item">
                          <div class="form-check">
                            <input name="min_regis" class="form-check-input" type="checkbox"  checked >
                            <label class="form-check-label" for="flexCheckDefault">
                               ค่าจดทะเบียน {{regiscost}} บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item">
                          <div class="form-check">
                            <input name="min_pdi" class="form-check-input" type="checkbox" value=500   checked>
                            <label class="form-check-label" for="flexCheckDefault">
                               ค่า PDI (ตรวจสอบก่อนส่งมอบ) 500 บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item">
                          <div class="form-check">
                            <input name="min_frame" class="form-check-input" type="checkbox" value=130   checked>
                            <label class="form-check-label" for="flexCheckDefault">
                               กรอบป้ายทะเบียนโชว์รูม 130 บาท
                            </label>
                          </div>
                       </li> 
                       <li class="list-group-item">
                          <div class="form-check">
                            <input name="min_polish" class="form-check-input" type="checkbox" value=500  checked>
                            <label class="form-check-label" for="flexCheckDefault">
                               ขัดเคลือบสีรถใหม่ 500 บาท
                            </label>
                          </div>
                       </li> 
                      


                      <!--รายการอุปกรณ์ตกเเต่ง----->
                      
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_1_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}} <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_2_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_3_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_4_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_5_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_6_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_7_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_8_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_9_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_10_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_11_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_12_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_13_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_14_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_15_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_16_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_17_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_18_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_19_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                      <div class="input-group mb-3" style="margin-top: 1vh;">
                        <select name="min_acc_20_code" class="form-select" >
                          <option value='N' selected>กรุณาเลือก</option>
                          {% for i in mainacc %}
                          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
                          {% endfor %}
                        </select>
                       </div>
                       
                    
                       
                      
                      
                                 
                    </div>
                    </div>

                      <!--------เงินจอง---------->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                            <h5><strong>เงินจอง</strong></h5>
                            <span id="gen_prepay"></span>
                          </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                       <div class="input-group" style="margin-top: 1vh;">
                                                           <input name="gen_prepay" type="number" class="form-control" placeholder="-">
                                                           <span class="input-group-text">บาท</span>
                                       </div>

                            
            
                        </div>
                   
                      </div>
                      <!-------บริษัทไฟเเนนซ์------->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                            <h5><strong>บริษัทไฟเเนนซ์</strong></h5>
                            <span id="gen_company"></span>
                          </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                          <div class="input-group mb-3" style="margin-top: 1vh;">
                            <label class="input-group-text" for="inputGroupSelect01">ไฟเเนนซ์</label>
                            <select name="gen_company" class="form-select" id="inputGroupSelect02">
                              <option value="" selected>กรุณาเลือก</option>
                              <option value='K'>ลีสซิ่งกสิกรไทย</option>
                              <option value='TTB'>ทหารไทยธนชาต</option>
                              <option value='AY'>กรุงศรีออโต้</option>
                              <option value='ICBC'>ICBC</option>
                              <option value='KPP'>เกียรตินาคิน</option>
                              <option value='TISCO'>TISCO</option>
                              <option value='SCB'>ไทยพาณิชย์</option>
                              <option value='CITY'>Cityleasing</option>
                            </select>
                           </div>
                        </div>
                      </div>


        </div>


                        <div style="margin: 2vh 0vh;" class="d-grid gap-1">
                                  <button type="submit" class="btn btn-warning"><strong>ดำเนินการต่อ</strong></button>
                        </div>
</form>





<script>
/* collect name acc */
/*function accNameCollected(){
  const acc_name_01 = document.getElementById('Acc_1').innerHTML;
  console.log(acc_name_01);
}*/

function tagPDMG() {
  const tagproductmargin = document.getElementById('idproductmargin').value;
  document.getElementById('productmargin').innerHTML = tagproductmargin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') ; 
};
function tagMRD() {
  const tagmin_reduce = document.getElementById('idmin_reduce').value;
  document.getElementById('min_reduce').innerHTML = tagmin_reduce.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') ; 
};
function tagAEQ() {
  const tagadd_eq = document.getElementById('idadd_eq').value;
  document.getElementById('add_eq').innerHTML = tagadd_eq.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') ; 
};
function tagAKB() {
  const tagadd_kickback = document.getElementById('idadd_kickback').value;
  document.getElementById('add_kickback').innerHTML = tagadd_kickback.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') ; 
};
function tagMPS() {
  const tagmin_prosub = document.getElementById('idmin_prosub').value;
  document.getElementById('min_prosub').innerHTML =  tagmin_prosub.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') ; 
};


</script>
{% endblock %}