{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/branchcash.css' %}" >
<style>
  .accordion-button{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
  }
  .input-group {
    padding: 1vh 2vw;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .table {
    border : none ;
    text-align : center;
  }
</style>
{% endblock %}

{% block content %}
<div  class="frm-body bg-white">

  <table class="table" style="border-radius : 20px;" >
    <tr>
      <th><h5><strong> รุ่นรถ : {{submodel}}  </strong></h5></th>
      <th><h5><strong> ราคา : {{text_productprice}} บาท </strong></h5></th>
    </tr>
  </table>


<form method="POST" action="branchcash">
{% csrf_token %}

<div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 1vh;">
     <!-----------------ส่วนลดตามรุ่น-------------------------->

     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingF">
        <button style="border-left: 2px solid gray; border-right: 2px solid gray; border-top: 2px solid gray; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseF" aria-expanded="false" aria-controls="flush-collapseF">
      
            <h5>
              <strong>ส่วนลดตามรุ่น</strong>
              <strong align="right" id="productmargin"></strong>
            </h5> 
  
        </button>
      </h2>
      <div id="flush-collapseF"  class="accordion-collapse collapse" aria-labelledby="flush-headingF" data-bs-parent="#accordionFlushExample">
                        <div class="input-group"  >
                                            <input name="productmargin"  id="idproductmargin" type="number" class="form-control" placeholder="-" onchange="tagPDMG()">
                                            <span class="input-group-text">บาท</span>
                        </div>
      </div>
    </div>


     
    
     <!-----------------ส่วนลดจากราคาขาย-------------------------->

     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingA">
        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseA" aria-expanded="false" aria-controls="flush-collapseA">
          <h5>
            <strong>ส่วนลดจากราคาขาย</strong>
            <strong align="right" id="min_reduce"></strong>
          </h5>

        </button>
      </h2>
      <div id="flush-collapseA" class="accordion-collapse collapse" aria-labelledby="flush-headingA" data-bs-parent="#accordionFlushExample">
                        <div class="input-group" style="margin-top: 1vh;">
                                            <input name="min_reduce" id="idmin_reduce" type="number" class="form-control" placeholder="-" onchange="tagMRD()">
                                            <span class="input-group-text">บาท</span>
                        </div>
      </div>
    </div>

    <!--------ของเเถม/อุปกรณ์ตกเเต่ง---------->


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingD">
        <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseD" aria-expanded="false" aria-controls="flush-collapseD">
          <h5><strong>ของเเถม/อุปกรณ์ตกเเต่ง</strong></h5>
        </button>
      </h2>
      <div id="flush-collapseD" class="accordion-collapse collapse" aria-labelledby="flush-headingD" data-bs-parent="#accordionFlushExample">
       
        <li class="list-group-item" style="display: none;">
          <div class="form-check">
            <input name="min_pdi" class="form-check-input" type="checkbox" value=500 checked disabled>
            <label class="form-check-label" for="flexCheckDefault">
               ค่า PDI (ตรวจสอบก่อนส่งมอบ) 500 บาท
            </label>
          </div>
       </li> 
       <li class="list-group-item" style="display: none;">
          <div class="form-check">
            <input name="min_frame" class="form-check-input" type="checkbox" value=130 checked disabled>
            <label class="form-check-label" for="flexCheckDefault">
               กรอบป้ายทะเบียนโชว์รูม 130 บาท
            </label>
          </div>
       </li> 
       <li class="list-group-item" style="display: none;">
          <div class="form-check">
            <input name="min_polish" class="form-check-input" type="checkbox" value=500 checked disabled>
            <label class="form-check-label" for="flexCheckDefault">
               ขัดเคลือบสีรถใหม่ 500 บาท
            </label>
          </div>
       </li> 
        <li class="list-group-item" style="border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
          <div class="form-check">
            <input name="min_regis" value='Y' class="form-check-input" type="checkbox" checked >
            <label class="form-check-label" for="flexCheckDefault">
               ค่าจดทะเบียน {{regiscost}} บาท
            </label>
          </div>
       </li>
      <!---->


      <div class="input-group mb-3" style="margin-top: 1vh;">
        <input type="text" style="width:30vw"  name="text_acc_card" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide1').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      
      <!--ส่วน display none-->
      <div id="hide1" style="display: none;">
        <div class="input-group mb-3" style="margin-top: 1vh;">
          <input type="text" style="width:30vw" name="text_acc_card_1" class="form-control" placeholder="รายการของเเถม" aria-label="">
          <span class="input-group-text">ราคา</span>
          <input type="number" name="min_acc_card_1" class="form-control text-center" placeholder="ราคา" aria-label="">
          <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide2').style.display = 'block'; this.style.display = 'none';" >
            <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
          </button>
        </div>
      </div>
     
    <div id="hide2" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw"  name="text_acc_card_2" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_2" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide3').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
    </div>

    <div id="hide3" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_3" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_3" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide4').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

    <div id="hide4" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_4" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_4" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide5').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

    <div id="hide5" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_5" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_5" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide6').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

    <div id="hide6" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_6" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_6" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide7').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

    <div id="hide7" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_7" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_7" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide8').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

    <div id="hide8" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_8" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_8" class="form-control text-center" placeholder="ราคา" aria-label="">
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;"  onclick= "document.getElementById('hide9').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
      </div>
      </div>

      <div id="hide9" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <input type="text" style="width:30vw" name="text_acc_card_9" class="form-control" placeholder="รายการของเเถม" aria-label="">
        <span class="input-group-text">ราคา</span>
        <input type="number" name="min_acc_card_9" class="form-control text-center" placeholder="ราคา" aria-label="">
      </div>
      </div>
      <!---->
      <div class="input-group mb-3" style="margin-top: 1vh;">
        <select name="min_acc_1_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}} <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek1').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       

      <!--ส่วน display none-->
      <div id="seek1" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_2_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek2').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek2" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_3_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek3').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
      <div id="seek3" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_4_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek4').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
      <div id="seek4" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_5_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek5').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek5" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_6_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek6').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek6" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_7_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek7').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek7" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_8_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek8').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek8" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_9_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek9').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek9" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_10_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek10').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek10" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_11_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek11').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek11" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_12_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek12').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek12" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_13_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek13').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek13" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_14_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        <button align="center" type="button" class="btn btn-sm" style="padding: 0px;" onclick= "document.getElementById('seek14').style.display = 'block'; this.style.display = 'none';">
          <img   src="{% static 'picture/addicon.png' %}"  alt="..." width="40" height="40"/>
        </button>
       </div>
       </div>
       <div id="seek14" style="display : none;">
      <div class="input-group mb-3" style="margin-top: 1vh; ">
        <select name="min_acc_15_code" class="form-select" >
          <option value='N' selected>กรุณาเลือก</option>
          {% for i in mainacc %}
          <option value={{i.id}}>{{i.acc_name}}  <br> ราคา : {{i.acc_price}} บาท</option>
          {% endfor %}
        </select>
        
       </div>
       </div>
      <!---->
                 
    </div>
    </div>

      <!--------เงินจอง---------->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            <h5>
              <strong>เงินจอง</strong>
              <strong align="right" id="gen_prepay"></strong>
            </h5>
      
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                       <div class="input-group" style="margin-top: 1vh;">
                                           <input name="gen_prepay" id="idgen_prepay" onchange="tagGPP()" type="number" class="form-control" placeholder="-">
                                           <span class="input-group-text">บาท</span>
                       </div>

            

        </div>
   
      </div>

      <!--------หมายเหตุ ------------>
      <div class="accordion-item">
        <div id="flush-collapseG" class="accordion-collapse collapse" aria-labelledby="flush-headingG" data-bs-parent="#accordionFlushExample">
          <div class="input-group" >
                              <textarea name="gen_remark"  id="idgen_remark" type="text" class="form-control"  rows="1" ></textarea>
                              
          </div>
        </div>
        <h2 class="accordion-header" id="flush-headingG">
          <button style="border-left: 2px solid gray; border-right: 2px solid gray; border-bottom: 2px solid gray; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px;" class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseG" aria-expanded="false" aria-controls="flush-collapseG">
        
              <h5>
                <strong>หมายเหตุ</strong>
              </h5> 
    
          </button>
        </h2>
        
       </div>



</div>
 

<div  align="center" style="display : flex; justify-content: center; margin-top: 2vh;">
  <button type="submit" style="display: flex;
  justify-content: center;
  padding : 0px 3vw;
  width : 35%;
  height : 50px;
  font-size : 26px;
  border-radius : 20px;
  border : 4px solid white ;
  outline-style: solid;
  outline-color: #9933ff;
  outline-width: thick;
  background:#9933ff;">
    <strong class="text-light" style="height: 100%;">Continue</strong>
  </button> 
</div>

</form>
</div>

<script>
  function tagPDMG() {
  const tagproductmargin = document.getElementById('idproductmargin').value;
  if (tagproductmargin === ""){
    document.getElementById('productmargin').innerHTML = "";
  }
  else{
    document.getElementById('productmargin').innerHTML = "="+" "+(tagproductmargin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')) +" "+'บาท' ;
  }
   
};
function tagMRD() {
  const tagmin_reduce = document.getElementById('idmin_reduce').value;
  if (tagmin_reduce === "") {
    document.getElementById('min_reduce').innerHTML = "";
  }
  else {
    document.getElementById('min_reduce').innerHTML = "="+" "+(tagmin_reduce.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท' ; 
  }
  
};
function tagGPP() {
  const taggen_prepay = document.getElementById('idgen_prepay').value;
  if (taggen_prepay === ""){
    document.getElementById('gen_prepay').innerHTML = "";
  }
  else {
    document.getElementById('gen_prepay').innerHTML =  "="+" "+(taggen_prepay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','))+" "+'บาท';
  }
   
};
</script>

{% endblock %}