{% extends 'layout.html' %}
{% load static %}
{% block script %}
   <script>
    function tabledisplay() {
       console.log('function table display work');
       const dashdata = document.getElementById('dashdata').value;
       const dashproduct =document.getElementById('dashproduct');
       const dashregiscosts =document.getElementById('dashregiscosts');
       const dashcolorsubmodels =document.getElementById('dashcolorsubmodels');
       const dashaccmgs =document.getElementById('dashaccmgs');
       const dashhtrcustomer =document.getElementById('dashhtrcustomer');
       console.log(dashdata);
       switch (dashdata){
           case "dashproduct" : dashproduct.removeAttribute("style"); 
                                dashregiscosts.style.display = 'none'; 
                                dashcolorsubmodels.style.display = 'none'; 
                                dashaccmgs.style.display = 'none'; 
                                dashhtrcustomer.style.display = 'none'; 
                                break
           case "dashcolorsubmodels" : dashproduct.style.display = 'none'; 
                                       dashregiscosts.style.display = 'none';
                                       dashcolorsubmodels.removeAttribute("style"); 
                                       dashaccmgs.style.display = 'none';
                                       dashhtrcustomer.style.display = 'none';  
                                       break
           case "dashregiscosts" : dashproduct.style.display = 'none'; 
                                   dashregiscosts.removeAttribute("style"); 
                                   dashcolorsubmodels.style.display = 'none';
                                   dashaccmgs.style.display = 'none';
                                   dashhtrcustomer.style.display = 'none';  
                                   break
           case "dashaccmgs" :  dashproduct.style.display = 'none'; 
                                dashregiscosts.style.display = 'none'; 
                                dashcolorsubmodels.style.display = 'none'; 
                                dashaccmgs.removeAttribute("style");
                                dashhtrcustomer.style.display = 'none';  
                                break
           case "dashhtrcustomer" :  dashproduct.style.display = 'none'; 
                                     dashregiscosts.style.display = 'none'; 
                                     dashcolorsubmodels.style.display = 'none'; 
                                     dashaccmgs.style.display = 'none';
                                     dashhtrcustomer.removeAttribute("style");  
                                     break
           case "-" :  dashproduct.style.display = 'none'; 
                       dashregiscosts.style.display = 'none'; 
                       dashcolorsubmodels.style.display = 'none'; 
                       dashaccmgs.style.display = 'none';
                       dashhtrcustomer.style.display = 'none'; 
                       break
       }
    };
    window.addEventListener("load", tabledisplay);
   </script>
{% endblock %}
{% block style %}
  <style>
    th {
          text-align: center;
    }                
    td {
          text-align: center;
    }           
  </style>
{% endblock %}
{% block content %}
<div class="frm-body bg-white">
    <div class="input-group mb-3">
      <label class="input-group-text btn btn-danger fw-bold font-monospace" for="inputGroupSelect02">Filter</label>
      <select class="form-select text-center fw-bold" id="dashdata" onchange="tabledisplay()">
        <option value="-" selected disabled>เลือกข้อมูลที่ต้องการ</option>
         <option value="dashproduct" class="text-primary">รุ่นรถ</option>
         <option value="dashcolorsubmodels" class="text-success">สีตามรุ่น</option>
         <option value="dashregiscosts" class="text-warning">ค่าจดทะเทียน</option>
         <option value="dashaccmgs" class="text-secondary">อุปกรณ์ตกเเต่ง</option>
         <option value="dashhtrcustomer" class="text-danger">ข้อมูลลูกค้า</option>
      </select>
    </div>
  {% comment %} ปุ่ม Export {% endcomment %}
  <!--<div class="d-grid gap-2 mt-2 mb-2">
   <button class="btn btn-success fw-normal font-monospace" type="button">Export Excel</button>
  </div>-->
    <table id="dashproduct" style="display:none ;" class="table table-primary table-hover">
      <thead>
         <tr>
            <th>Mainmodel</th>
            <th>Grade</th>
            <th>Price</th>
            <th>Margin</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tbody>
      {% for i in dashproduct %}
         <tr>
          <td>{{i.mainmodel}}</td>
          <td>{{i.submodel}}</td>
          <td>{{i.price}}</td>
          <td>{{i.margin}}</td>
          <td>
          <form action="pageaddproduct" method="POST">
            {% csrf_token %}
            <button name="idproduct" value={{i.id}} >
               <img  src="{% static 'picture/pencil-100.png' %}" class="img-fluid" width="30" height="30" alt="..."/>
            </button>
          </form>
         </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>

    <table id="dashregiscosts" style='display: none;' class="table table-warning table-hover">
      <thead>
         <tr>
            <th>Model</th>
            <th>Personal</th>
            <th>Company</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tbody>
      {% for i in dashregiscosts %}
         <tr>
          <td>{{i.regis_code}}</td>
          <td>{{i.regis_personal}}</td>
          <td>{{i.regis_company}}</td>
          <td>
            <form action="pageaddregiscost" method="POST">
               {% csrf_token %}
               <button name="idregiscost" value={{i.id}} >
                  <img  src="{% static 'picture/pencil-100.png' %}" class="img-fluid" width="30" height="30" alt="..."/>
               </button>
             </form>
         </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>

    <table id="dashcolorsubmodels" style='display: none;' class="table table-success table-hover">
      <thead>
         <tr>
            <th>Model</th>
            <th>color</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tbody>
      {% for i in dashcolorsubmodels %}
         <tr>
          <td>{{i.submodel}}</td>
          <td>{{i.color}}</td>
          <td>
            <form action="pageaddcolor" method="POST">
               {% csrf_token %}
               <button name="idcolor" value={{i.id}} >
                  <img  src="{% static 'picture/pencil-100.png' %}" class="img-fluid" width="30" height="30" alt="..."/>
               </button>
             </form>
         </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>

    <table id="dashaccmgs" style='display: none;' class="table table-dark table-hover">
      <thead>
         <tr>
            <th>Code</th>
            <th>Detail</th>
            <th>Price</th>
            <th>Model</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tbody>
      {% for i in dashaccmgs %}
         <tr>
          <td>{{i.acc_code}}</td>
          <td>{{i.acc_name}}</td>
          <td>{{i.acc_price}}</td>
          <td>{{i.acc_model}}</td>
          <td>
            <form action="pageaddacc" method="POST">
               {% csrf_token %}
               <button name="idacc" value={{i.id}} type="submit">
                  <img  src="{% static 'picture/pencil-100.png' %}" class="img-fluid" width="30" height="30" alt="..."/>
               </button>
             </form>
         </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>

    <table id="dashhtrcustomer" style='display: none;' class="table table-info table-hover">
      <thead>
         <tr>
            <th>Date</th>
            <th>Sale name</th>
            <th>Model</th>
            <th>Customer name</th>
            <th>Chanel</th>
            <th>Status</th>
         </tr>
      </thead>
      <tbody>
      {% for i in dashhtrcustomer %}
         <tr>
          <td>{{i.date}}</td>
          <td>{{i.firstname}}</td>
          <td>{{i.mainmodel}}</td>
          <td>{{i.customername}}</td>
          <td>{{i.chanelcustomer}}</td>
          <td>{{i.statuscustomer}}</td>
          
         </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
{% endblock %}