{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="frm-body bg-white">

<form method="POST"  action="dataclient" >
{% csrf_token %} 
<!--เลือกทีม A/B/C/D/O-->
<div class="input-group mb-3" style="margin-top: 1vh; ">
   <label class="input-group-text btn-dark " for="inputGroupSelect01">ทีมขาย*</label>
   <select class="form-select text-center"  id="chooseteam" name="teamsell">
     <option value="-" selected disabled >กรุณาเลือกทีม</option>
     <option value="N">-</option>
     <option value="A">ทีม A</option>
     <option value="B">ทีม B</option>
     <option value="C">ทีม C</option>
     <option value="D">ทีม D</option>
     <option value="O">ทีม Online</option>
   </select>
 </div>   
   <!--mainmodel-->
   <div class="input-group mb-3" style="margin-top: 1vh; ">
      <label class="input-group-text btn-success " for="inputGroupSelect01">รุ่นรถ*</label>
      <select class="form-select text-center"  id="choosemainmodel" name="mainmodel" onchange="appendpic()">
        <option class="font-monospace" value="-" selected disabled>กรุณาเลือกรุ่น</option>
        <option class="font-monospace" value="MGES">MGES</option>
        <option class="font-monospace" value="MGMAXUS9">MG MAXUS9</option>
        <option class="font-monospace" value="MG5">MG5 (MY2022)</option>
        <option class="font-monospace" value="MGVSHEV">MGVS HEV</option>
        <option class="font-monospace" value="MGZS">MGZS</option>
        <option class="font-monospace" value="MGZSEV">MGZS (EV)</option>
        <option class="font-monospace" value="MGETD">MG EXTENDER</option>
        <option class="font-monospace" value="MGHSPHEV">MGHS (PHEV)</option>
        <option class="font-monospace" value="MGHS">MGHS</option>
        <option class="font-monospace" value="MG4">MG4 ELECTRIC</option>
        <option class="font-monospace" value="MGEP">MGEP</option>
      </select>
    </div>          
             
   <!--name customer-->   
   <div class="input-group input-group-mb" style="margin-top: 1vh;">
      <span class="input-group-text btn-warning" id="inputGroup-sizing-lg">ชื่อลูกค้า*</span>
      <input type="text" name="customername" class="form-control text-center" id="namecustomer" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="กรุณากรอกชื่อลูกค้า" onchange="checkdataclient()" >
    </div>          
   <!--tel--> 
   <div class="input-group input-group-md" style="margin-top: 1vh;">
      <span class="input-group-text btn-primary" id="inputGroup-sizing-lg">การติดต่อ</span>
      <input type="text" name="contactcustomer" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Tel / ID line">
    </div>               
   <!--source-->
   <div class="input-group mb-3" style="margin-top: 1vh; ">
      <label class="input-group-text btn-secondary " for="inputGroupSelect01">ที่มา</label>
      <select class="form-select text-center" name="chanelcustomer">
        <option value="Walk-in" selected >Walk in</option>
        <option value="Online">Online</option>
        <option value="Event-booth">ออกบูธ</option>
        <option value="Advice">ลูกค้าเเนะนำ</option>
      </select>
    </div>  
   <!--status-->  
   <div class="input-group mb-3" style="margin-top: 2vh;">
      <label class="input-group-text btn-info" for="inputGroupSelect01">สถานะ</label>
      <select class="form-select text-center" name="statuscustomer" id="inputGroupSelect01">
        <option value="ลูกค้ามุ่งหวัง" selected>PP : ลูกค้ามุ่งหวัง</option>
        <option value="ลูกค้าจอง">BK : ลูกค้าจอง</option>
        <option value="ทดลองขับ">TD : ทดลองขับ</option>
      </select>
    </div>
    <!--button-->
    <div id="btn-dataclient" style="margin-top: 2vh;">
      <div class="d-grid gap-1" >
         <button type="submit" class="btn btn-danger" type="submit">ดำเนินการต่อ</button>
       </div>
    </div>
</form>
<!--picture zone-->
  <div align="center">
     <img id="card-image" src="{% static 'picture/carshadow.png' %}" class="img-fluid" alt="carshadow">
  </div>

</div>
<script>
   function appendpic() {
      const choosemainmodel = document.getElementById('choosemainmodel').value; 
      const cardimage = document.getElementById('card-image');  
      switch (choosemainmodel){
         case "MGZSEV" : cardimage.src = "{% static 'picture/MGZSEV.png' %}";break
         case "MGES" : cardimage.src = "{% static 'picture/MGES.png' %}";break
         case "MGMAXUS9" : cardimage.src = "{% static 'picture/MGMAXUS9.png' %}";break
         case "-" : cardimage.src = "{% static 'picture/carshadow.png' %}";break
         case "MG5" : cardimage.src = "{% static 'picture/Newmg5.png' %}";break
         case "MGVSHEV" : cardimage.src = "{% static 'picture/Newmgvshev.png' %}";break
         case "MGZS" : cardimage.src = "{% static 'picture/Newmgzs.png' %}";break
         case "MGETD" : cardimage.src = "{% static 'picture/Newmgextendergc.png' %}"; break
         case "MGHSPHEV" : cardimage.src = "{% static 'picture/Newmghs.png' %}"; break
         case "MGHS" : cardimage.src = "{% static 'picture/Newmghs.png' %}";break
         case "MG4" : cardimage.src = "{% static 'picture/Mg4.png' %}";break 
         case "MGEP" : cardimage.src = "{% static 'picture/Mgep.png' %}";break 
         };
      checkdataclient();
      return 
    };  
   
   function checkdataclient(){
      const chooseteam = document.getElementById('chooseteam').value;
      const choosemainmodel = document.getElementById('choosemainmodel').value;
      const namecustomer = document.getElementById('namecustomer').value;
      if (choosemainmodel != '-' && namecustomer != "" && chooseteam != '-') {
         document.getElementById('btn-dataclient').style.display = "block";
      }
      else {
         document.getElementById('btn-dataclient').style.display = "none";
      }
      return;
   }
   window.addEventListener("load", checkdataclient);
</script>
{% endblock %}

