{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="frm-body bg-white">

<form method="POST"  action="dataclient" >
{% csrf_token %} 
<!--เลือกทีม A/B/C/D/O-->
<div class="input-group mb-3" style="margin-top: 1vh; ">
   <label class="input-group-text btn-dark " for="inputGroupSelect01"><strong>ทีมขาย*</strong></label>
   <select class="form-select text-center"  id="chooseteam" name="teamsell" onchange="appendpic()">
     <option value="-" selected >กรุณาเลือกทีม</option>
     <option value="A">ทีม A</option>
     <option value="B">ทีม B</option>
     <option value="C">ทีม C</option>
     <option value="D">ทีม D</option>
     <option value="O">ทีม Online</option>
   </select>
 </div>   
   <!--mainmodel-->
   <div class="input-group mb-3" style="margin-top: 1vh; ">
      <label class="input-group-text btn-danger " for="inputGroupSelect01"><strong>รุ่นรถ MG*</strong></label>
      <select class="form-select text-center"  id="choosemainmodel" name="mainmodel" onchange="appendpic()">
        <option value="-" selected >กรุณาเลือกรุ่น</option>
        <option value="MG5">NEW MG 5 MY2022</option>
        <option value="MGVSHEV">NEW MG VS HEV</option>
        <option value="MGZS">MG ZS</option>
        <option value="MGETD">MG EXTENDER</option>
        <option value="MGHSPHEV">MG HS PHEV</option>
        <option value="MGHS">MG HS</option>
        <option value="MG4">MG 4</option>
        <option value="MGEP">MG EP</option>
      </select>
    </div>          
             
   <!--name customer-->   
   <div class="input-group input-group-mb" style="margin-top: 1vh;">
      <span class="input-group-text btn-success" id="inputGroup-sizing-lg"><strong>ชื่อลูกค้า*</strong></span>
      <input type="text" name="customername" class="form-control text-center" id="namecustomer" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="กรุณากรอกชื่อลูกค้า" onchange="checkdataclient()" >
    </div>          
   <!--tel--> 
   <div class="input-group input-group-md" style="margin-top: 1vh;">
      <span class="input-group-text btn-primary" id="inputGroup-sizing-lg"><strong>การติดต่อ</strong></span>
      <input type="text" name="contactcustomer" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="เบอร์โทรศัพท์ / Id Line / E-mail">
    </div>               
   <!--source-->
 
   <div style="margin-top: 2vh; border:2px solid RebeccaPurple; border-radius: 30px; padding: 1vh 0vw">
      
      <div style="display: flex; justify-content: space-around; font-size: 18px;">
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="chanelcustomer" id="radiochanels1" value="Walk-in" checked>
            <label class="form-check-label" for="radiochanels1"><strong>Walk in</strong></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="chanelcustomer" id="radiochanels2" value="Online">
            <label class="form-check-label" for="radiochanels2"><strong>Online</strong></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="chanelcustomer" id="radiochanels3" value="Event-booth">
            <label class="form-check-label" for="radiochanels3"><strong>ออกบูธ</strong></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="chanelcustomer" id="radiochanels4" value="Advice">
            <label class="form-check-label" for="radiochanels4"><strong>ลูกค้าเเนะนำ</strong></label>
          </div>       
      </div>
   </div>   
 
   <!--status-->  
   <div class="input-group mb-3" style="margin-top: 2vh;">
      <label class="input-group-text btn-warning" for="inputGroupSelect01"><strong>สถานะ</strong></label>
      <select class="form-select text-center" name="statuscustomer" id="inputGroupSelect01">
        <option value="ลูกค้ามุ่งหวัง" selected>PP : ลูกค้ามุ่งหวัง</option>
        <option value="ลูกค้าจอง">BK : ลูกค้าจอง</option>
        <option value="ทดลองขับ">TD : ทดลองขับ</option>
      </select>
    </div>
    
    
   <div align="center" id="btn-dataclient" style="display: none; display : flex; justify-content: center; margin-top: 2vh;">
      <button  type="submit" style="display: flex;
      justify-content: center;
      padding : 0px 3vw;
      width : 35%;
      height : 50px;
      font-size : 26px;
      border-radius : 20px;
      border : 4px solid white ;
      outline-style: solid;
      outline-color: #9933ff;
      outline-width: thick;
      background: #9933ff;">
        <strong class="text-light"  style="height: 100%;">Continue</strong>
      </button> 
   </div>
   

</form>
<!--picture zone-->

<div align="center" id="carshadow" style="margin-top: 8vh">
   <img  src="{% static 'picture/carshadow.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmg5" style="display: none;">
   <img  src="{% static 'picture/Newmg5.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmgvshev" style="display: none;">
   <img  src="{% static 'picture/Newmgvshev.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmgzs" style="display: none;">
   <img  src="{% static 'picture/Newmgzs.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmgetd" style="display: none;">
   <img  src="{% static 'picture/Newmgextendergc.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmghsphev" style="display: none;">
   <img  src="{% static 'picture/Newmghs.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmghs" style="display: none;">
   <img  src="{% static 'picture/Newmghs.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmg4" style="display: none;">
   <img  src="{% static 'picture/Mg4.png' %}" class="img-fluid" alt="..."/>
</div>
<div align="center" id="picmgep" style="display: none;">
   <img  src="{% static 'picture/Mgep.png' %}" class="img-fluid" alt="..."/>
</div>
</div>
<script>

   function appendpic() {
      const carshadow = document.getElementById('carshadow');
      const picmg5 = document.getElementById('picmg5');
      const picmgvshev =document.getElementById('picmgvshev');
      const picmgzs = document.getElementById('picmgzs');
      const picmgetd = document.getElementById('picmgetd');
      const picmghsphev = document.getElementById('picmghsphev');
      const picmghs = document.getElementById('picmghs');
      const picmg4 = document.getElementById('picmg4');
      const picmgep = document.getElementById('picmgep');
      const choosemainmodel = document.getElementById('choosemainmodel').value;
      switch (choosemainmodel){
         case "MG5" : picmg5.style.display = "block";
                      picmgvshev.style.display = "none";
                      picmgzs.style.display = "none";
                      picmgetd.style.display = "none";
                      picmghsphev.style.display = "none";
                      picmghs.style.display = "none";
                      picmg4.style.display = "none";
                      picmgep.style.display = "none";
                      carshadow.style.display = "none";
         break
         case "MGVSHEV" : picmgvshev.style.display = "block"; 
                          picmg5.style.display = "none";
                          picmgzs.style.display = "none";
                          picmgetd.style.display = "none";
                          picmghsphev.style.display = "none";
                          picmghs.style.display = "none";
                          picmg4.style.display = "none";
                          picmgep.style.display = "none";
                          carshadow.style.display = "none";
         break
         case "MGZS" : picmgzs.style.display = "block";
                       picmgvshev.style.display = "none";
                       picmg5.style.display = "none";
                       picmgetd.style.display = "none";
                       picmghsphev.style.display = "none";
                       picmghs.style.display = "none";
                       picmg4.style.display = "none";
                       picmgep.style.display = "none";
                       carshadow.style.display = "none";
         break
         case "MGETD" : picmgetd.style.display = "block";
                        picmgvshev.style.display = "none";
                        picmgzs.style.display = "none";
                        picmg5.style.display = "none";
                        picmghsphev.style.display = "none";
                        picmghs.style.display = "none";
                        picmg4.style.display = "none";
                        picmgep.style.display = "none";
                        carshadow.style.display = "none";
         break
         case "MGHSPHEV" : picmghsphev.style.display = "block";
                           picmgvshev.style.display = "none";
                           picmgzs.style.display = "none";
                           picmgetd.style.display = "none";
                           picmg5.style.display = "none";
                           picmghs.style.display = "none";
                           picmg4.style.display = "none";
                           picmgep.style.display = "none";
                           carshadow.style.display = "none";
         break
         case "MGHS" : picmghs.style.display = "block";
                       picmgvshev.style.display = "none";
                       picmgzs.style.display = "none";
                       picmgetd.style.display = "none";
                       picmghsphev.style.display = "none";
                       picmg5.style.display = "none";
                       picmg4.style.display = "none"; 
                       picmgep.style.display = "none";
                       carshadow.style.display = "none";
         break
         case "MG4" : picmghs.style.display = "none";
                       picmgvshev.style.display = "none";
                       picmgzs.style.display = "none";
                       picmgetd.style.display = "none";
                       picmghsphev.style.display = "none";
                       picmg5.style.display = "none";
                       picmg4.style.display = "block";
                       picmgep.style.display = "none"; 
                       carshadow.style.display = "none";
         break
         case "MGEP" : picmghs.style.display = "none";
                       picmgvshev.style.display = "none";
                       picmgzs.style.display = "none";
                       picmgetd.style.display = "none";
                       picmghsphev.style.display = "none";
                       picmg5.style.display = "none";
                       picmg4.style.display = "none";
                       picmgep.style.display = "block"; 
                       carshadow.style.display = "none";
         break
         default : carshadow.style.display = "block";
                   picmgvshev.style.display = "none";
                   picmgzs.style.display = "none";
                   picmgetd.style.display = "none";
                   picmghsphev.style.display = "none";
                   picmg5.style.display = "none"; 
                   picmg4.style.display = "none";
                   picmghs.style.display = "none";
                   picmgep.style.display = "none";
         
      };
      checkdataclient();
      return 
   }

   function checkdataclient(){
      const chooseteam = document.getElementById('chooseteam').value;
      const choosemainmodel = document.getElementById('choosemainmodel').value;
      const namecustomer = document.getElementById('namecustomer').value;
      if (choosemainmodel != '-' && namecustomer != "" && chooseteam != '-') {
         document.getElementById('btn-dataclient').style.display = "block";
      }
      else {
         document.getElementById('btn-dataclient').style.display = "none";
      }
      return ;
   }
   
   window.addEventListener("load", checkdataclient);
</script>


{% endblock %}

