{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
  .card {
   border: 3px solid black;
   border-radius: 35px;
   box-shadow: 10px 10px 5px #666699;
   margin-top : 2vh;
  }
  .card-image {
    padding : 0px;
    width : 10vw;
  }
  .img-fluid {
    position : relative;
    right : 30%;
    padding : 2px;
    height : 80px;
    border-radius :50%;
    border : 1px solid black;
  }
  .card-body {
    display: flex;
    justify-content: center;
   }
  #content-box1 {
    width : 30vw;
    padding : 0px;
    display: flex; 
    flex-direction:column;
  }
  #content-box2 {
    width : 30vw;
    padding : 0px;
    display: flex; 
    flex-direction:column;
  }
  
  .status-box {
    padding : 10px;
    margin : 2vh 0vw;
    border : 2px solid rgb(128, 0, 255);
    border-radius: 25px;
    text-align : center;
  } 
  .form-check-label {
    padding : 1px;
    border-radius: 5px;
  }
  .form-check-inline {
    margin-top : 8px;
  }
 

</style>
{% endblock %}
{% block script %}
<script>
  function changestyle() {
    const choosemainmodel = String(document.getElementById('productmodel').innerHTML) ;  
    const cardimage = document.getElementById('card-image');  
    switch (choosemainmodel){
       case "MG5" : cardimage.src = "{% static 'picture/Newmg5.png' %}";break
       case "MGVSHEV" : cardimage.src = "{% static 'picture/Newmgvshev.png' %}";break
       case "MGZS" : cardimage.src = "{% static 'picture/Newmgzs.png' %}";break
       case "MGETD" : cardimage.src = "{% static 'picture/Newmgextendergc.png' %}"; break
       case "MGHSPHEV" : cardimage.src = "{% static 'picture/Newmghs.png' %}"; break
       case "MGHS" : cardimage.src = "{% static 'picture/Newmghs.png' %}";break
       case "MG4" : cardimage.src = "{% static 'picture/Mg4.png' %}";break 
       case "MGEP" : cardimage.src = "{% static 'picture/Mgep.png' %}";break 
       }

    return (choosemainmodel)
  };    
  
  window.addEventListener("load", changestyle);
</script>
{% endblock %}


{% block content %}
<!--ส่วนเเสดงข้อมูลเดิม-->
{% for i in datacustomeredit %} 
  <p id="productmodel" style="display: none;" >{{i.mainmodel}}</p> <!----สร้างเพื่อให้ javascript เก็บค่า--> 
  <p id="statuscustomer" style="display: none;" >{{i.statuscustomer}}</p> <!----สร้างเพื่อให้ javascript เก็บค่า--> 
          <div  class="card" id="color-card" >
            <div class="card-body">
              <div class="card-image">
                <img  id="card-image" src="{% static 'picture/iconcustomer.png' %}" class="img-fluid" alt="..."  >
              </div>
              <div id="content-box1" >
                <span>วันที่ : {{i.date}}/{{i.firstname}}</span>
                <span>รุ่นรถ : {{i.mainmodel}}/{{i.chanelcustomer}}</span>
                <span>หมายเหตุ : {{i.remark}}</span>

              </div>
              <div id="content-box2" > 
                <span>ชื่อลูกค้า : {{i.customername}}</span>
                <span>ติดต่อ : {{i.contactcustomer}}</span>
                <span>สถานะ : {{i.statuscustomer}}</span>
              </div>
            </div>
          </div>
 {% endfor %}
<!--form เเก้ข้อมูลใหม่-->
<div  class="frm-body bg-white" style="margin-top: 2vh">
{% if not form.is_valid %}

<form method="post"  action="updatedatacustomer" >
    {% csrf_token %} 
   <div class="input-group input-group-mb" style="margin-top: 1vh;">
      <span class="input-group-text btn-success" id="inputGroup-sizing-lg"><strong>ชื่อลูกค้า</strong></span>
      <input type="text" name="customername-edit" class="form-control text-center" id="namecustomer" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="ข้อมูลที่ต้องการเเก้ไข"  >
   </div>          
   <div class="input-group input-group-md" style="margin-top: 1vh;">
      <span class="input-group-text btn-primary" id="inputGroup-sizing-lg"><strong>การติดต่อ</strong></span>
      <input type="text" name="contactcustomer-edit" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="ข้อมูลที่ต้องการเเก้ไข">
    </div> 

    {% for i in datacustomeredit %}
    <!--status-->  
    <div class="input-group mb-3" style="margin-top: 2vh;">
      <label class="input-group-text btn-danger" for="inputGroupSelect01"><strong>สถานะล่าสุด</strong></label>
      <select class="form-select text-center" name="statuscustomer-edit" id="inputGroupSelect01">
        <option value="{{i.statuscustomer}}" selected>{{i.statuscustomer}}</option>
        <option disabled>---เริ่มต้น---</option>
        <option value="มุ่งหวังติดตาม">มุ่งหวังติดตาม</option>
        <option value="ลูกค้าจอง">ลูกค้าจอง</option>
        <option value="ทดลองขับ">ทดลองขับ</option>
        <option disabled>---จัดไฟเเนนซ์---</option>
        <option value="รอเอกสารลูกค้า">รอเอกสารลูกค้า</option>
        <option value="รอไฟเเนนซ์เข้า">รอไฟเเนนซ์เข้า</option>
        <option value="รอผลไฟเเนนซ์">รอผลไฟเเนนซ์</option>
        <option value="ไฟเเนนซ์อนุมัติ">ไฟเเนนซ์อนุมัติ</option>
        <option value="ไม่ผ่านไฟเเนนซ์">ไม่ผ่านไฟเเนนซ์</option>
        <option disabled>---สำเร็จ---</option>
        <option value="รอรถลง">รอรถลง</option>
        <option value="รอส่งมอบ">รอส่งมอบ</option>
        <option value="ส่งมอบสำเร็จ">ส่งมอบสำเร็จ</option>
        <option disabled>---ล้มเหลว---</option>
        <option value="ติดตามล้มเหลว">ติดตามล้มเหลว</option>
        <option value="ขอคืนเงินจอง">ขอคืนเงินจอง</option>
      </select>
    </div>       
    {% endfor %}

   <div class="input-group input-group-md" style="margin-top: 1vh;">
     <span class="input-group-text btn-warning" id="inputGroup-sizing-lg"><strong>หมายเหตุ</strong></span>
     <input type="text" name="customer-remark" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="เพิ่มหมายเหตุ">
   </div>
   
  <!--conditionในการเเก้ไขข้อมูล-->
  <div  style="display : flex; justify-content: center ; margin-top: 2vh;">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="doit" id="inlineRadio1" value="update" checked>
      <label class="form-check-label" for="inlineRadio1"><strong>อัพเดทข้อมูล</strong></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="doit" id="inlineRadio2" value="delete" >
      <label class="form-check-label" for="inlineRadio2"><strong>ลบทิ้ง</strong></label>
    </div>
  </div>
  <!--button-->
   <div  align="center" style="display : flex; justify-content: center; margin-top: 2vh;">
    <button  type="submit" style="display: flex;
    justify-content: center;
    padding : 0px 3vw;
    width : 25%;
    height : 40px;
    font-size : 20px;
    border-radius : 20px;
    border : 4px solid white ;
    outline-style: solid;
    outline-color: green;
    outline-width: thick;
    background: green;">
      <strong class="text-light" style="height: 100%;">Submit</strong>
    </button> 
  </div>
</form>
</div>
{% endif %}

<div  class="frm-body bg-white" style="margin-top: 2vh">
  <table class="table table-hover table-secondary table-borderless">
    <thead class="table table-dark">
      <tr>
        <th scope="col">วันที่ปรับปรุงสถานะ</th>
        <th scope="col">สถานะ</th>
        <th scope="col">หมายเหตุ</th>
      </tr>
    </thead>
    {% for i in datapathstatus %}
    <tbody class="">
      <tr>
        <td>{{i.date}}</td>
        <td>{{i.statuscustomer}}</td>
        <td>{{i.remark}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}