{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
  .table {
    text-align : center;
    margin-top : 1vh;
  }
</style>
{% endblock %}

{% block content %}
<div  class="frm-body bg-white">
<!----เเสดงข้อมูลที่ส่งเข้ามา---->
{% if data.count > 0 %}
<table class="table table-hover ">
    <thead class="text-danger" style="border-bottom: 1px solid black;">
       <tr>
         <th><strong>Date</strong></th>
         <th><strong>Uploader</strong></th>
         <th><strong>Model</strong></th>
         <th><strong>Quotation</strong></th>
        <tr> 
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i.date}}</td>
            <td>{{i.username}}</td>
            <td>{{i.mainmodel}}</td>
            <td>
                <a href={{i.filepdf.url}}>
                  <img  src="{% static 'picture/icons-view-64.png' %}" class="img-fluid" width="30" height="30" alt="..."/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<!------------------------------>
</div>
{% endblock %}