{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link  href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
   <script type="text/javascript" src="{% static 'js/custom.js' %}" defer></script>
{%  endblock %}

{% block content %}
<strong style="margin: 1vh 0vh;"><div id="error" class="" role="alert" ></div></strong>

<form id="form" action="firstdata" method="post"> 
   {% csrf_token %}
  <div class="mb-3">
      <label class="col-sm-2 col-form-label col-form-label-lg">ชื่อผู้ใช้งาน</label>
     <input id="username" type="text" class="form-control form-control-lg" name="username"  placeholder="Enter Your Name">
   </div>
   <div class="mb-3">
     <label  class="col-sm-2 col-form-label col-form-label-lg">เบอร์ติดต่อ</label>
     <input id="telnumber" type="text" class="form-control form-control-lg" name="telnumber"  placeholder="Enter Your Telephone number">
   </div>
   <label  class="col-sm-2 col-form-label col-form-label-lg">รุ่นรถ MG</label>
   <select id="mainmodel" class="form-select form-select-lg mb-3" name="mainmodel" aria-label=".form-select-lg example">
     <option value='N' selected>Choose MG Model</option>
     <option value="MG5">New MG5 MY2022</option>
     <option value="MGVSHEV">NEW MG VS HEV</option>
     <option value="MGZS">MG ZS 2020</option>
     <option value="MGETD">MG EXTENDER(2021)</option>
     <option value="MGHSPHEV">MG HS PHEV 2022</option>
   </select>
   
   <div class="d-grid gap-1">
       <button type="submit" class="btn btn-success">เข้าสู่ระบบ</button>
   </div>
</form>
                     

{% endblock %}


