{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link  href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<strong class="text-center" style="margin: 1vh 0vh; "><div id="error"  role="alert" ></div></strong>

<form id="frm-mainmodel" action="mainmodel" method="POST"> 
   {% csrf_token %}
   <div class="list-group">
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MG5">
      New MG5 MY2022
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MGVSHEV">
      NEW MG VS HEV
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MGZS">
      MG ZS 2020
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MGETD">
      MG EXTENDER
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MGHSPHEV">
      MG HS PHEV
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="MGHS">
      MG HS
    </label>
    
  </div>

  <div class="d-grid gap-1">
    <button type="submit" class="btn btn-warning">ดำเนินการต่อ</button>
  </div>

</form>
                  
{% endblock %}


  
   
   

