{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link  href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}


<form id="frm-mainmodel" action="mainmodel" method="POST"> 
   {% csrf_token %}
   <div class="list-group">

        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="mainmodel" value="MG5" checked>New MG5 MY2022
          <label class="form-check-label" for="radio1"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio2" name="mainmodel" value="MGVSHEV" >NEW MG VS HEV
          <label class="form-check-label" for="radio2"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio3" name="mainmodel" value="MGZS" >MG ZS 2020
          <label class="form-check-label" for="radio3"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio4" name="mainmodel" value="MGETD" >MG EXTENDER
          <label class="form-check-label" for="radio4"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio5" name="mainmodel" value="MGHSPHEV" >MG HS PHEV
          <label class="form-check-label" for="radio5"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio6" name="mainmodel" value="MGHS" >MG HS
          <label class="form-check-label" for="radio6"></label>
        </div>
    
    
   </div>

  <div  style="margin-top: 3vh;" class="d-grid gap-1">
    <button type="submit" class="btn btn-success"><strong>ดำเนินการต่อ</strong></button>
  </div>

</form>




                  
{% endblock %}


  
   
   

