{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>managemargin</title>
                    <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}">
                    {% block style  %} {% endblock %}

                    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
                    {% block script %} {% endblock %}

                    
</head>
<body>
  
  <nav id="navbar-example2" class="navbar sticky-top navbar-dark bg-dark px-3">
    <img src="{% static 'picture/logo.png' %}" alt="" width="40" height="38" class="d-inline-block align-text-top"/>
    <a class="navbar-brand">MG Saengaree</a>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ค้นหารายการ</a>
        <ul class="dropdown-menu">
          <!--<li><a class="dropdown-item" href="#scrollspyHeading1">ลดราคารถ</a></li>-->
          <li><a class="dropdown-item" href="#scrollspyHeading2">รายการของบังคับ</a></li>
          <li><a class="dropdown-item" href="#scrollspyHeading3">อุปกรณ์ตกเเต่ง</a></li>
        </ul>
      </li>
    </ul>
  </nav>
                    <div class="container">
                                        {% block content-1 %}

     
                                        {% endblock %}

                                        

                    </div>

</body>
</html> 