{% extends 'layout.html' %}
{% load static %}

{% block style %}
<style>
   #formlogin{
      padding : 15px;
      display: flex;
      flex-direction: column;
      border: 2px solid gray ;
      border-radius: 15px;
   }
   .textname {
      display : flex;
      justify-content: center;
   }
   .text-dark  {
      padding : 0px 10px;
      position : relative;
      top : 15px;
      font-style: oblique;
      text-shadow: 2px 2px 3px Crimson;
   }
   #username {
      text-align: center;
   }
   #password {
      text-align: center;
   }
</style>
{% endblock %}
{% block script %}
   <script type="text/javascript" src="{% static 'js/loginform.js' %}" defer></script>
{%  endblock %}
{% block alert %}
    <div id="relogin" style="display: none; text-align: center;" class="alert alert-danger" role="alert">
       <strong>ชื่อผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง</strong> 
    </div>
{% endblock %}
{% block content %}
<div class="frm-body bg-white" style="padding-top: 0px;"> 
 <div>
   <h2 class="textname"><strong class="text-dark bg-white">MSA Login</strong></h2>
 </div>
 <form id="formlogin" action="firstdata" method="POST"> 
   {% csrf_token %}
   <div class="input-group mb-3">
      <input name="username" placeholder="รหัสผู้ใช้งาน" id="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
   </div>
   <div class="input-group mb-3">
      <input id="password" name="password" placeholder="รหัสผ่าน" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
   </div>
   <div class="form-check mb-3 d-flex justify-content-center align-items-center">
      <input class="form-check-input me-1 bg-danger border border-danger"  type="checkbox" value="" id="remember-me" checked>
      <label class="form-check-label fw-bold fst-italic" for="remember-me">
         จดจำผู้ใช้งานเเละรหัสผ่าน
      </label>
    </div>
   <div class="d-grid gap-1">
     <button class="btn btn-danger" type="submit">เข้าสู่ระบบ</button>
   </div>
 </form>
</div>
<!--------------------ส่วนทำงานเบื้องหลัง-------------------->       
<p id="status_login" style="display: none;">{{status_login}}</p>
<script>
   const status_login = String(document.getElementById('status_login').innerHTML) ;
   console.log(status_login);
   if (status_login === "False"){
       document.getElementById('relogin').style.display = "block" ;
   };
</script>
{% endblock %}