{% extends 'layout1.html' %}



{% block content-1 %}
<!--ส่วนเเสดงผล-->
<div align="center" style="margin-top: 2vh;">
<div  class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                    <div class="card-header"><h4>รายละเอียด</h4></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">รุ่น : {{submodel}}</li>
                        <li class="list-group-item">สีตัวถัง : {{bodycolor}}</li>
                        <li class="list-group-item">ประเภทการซื้อ : จัดไฟเเนนซ์</li>
                        <li class="list-group-item">สาขา : {{mgbranch}}</li>
                        {% if registype == 'person' %}
                        <li class="list-group-item">ประเภทการจดทะเบียน  : บุคคล</li>
                        {% else %}
                        <li class="list-group-item">ประเภทการจดทะเบียน  : บริษัท</li>
                        {% endif %}
                        <!--กระจาย regiscost เพื่อสร้างเงื่อนไขการเเสดงผล-->
                        {% for r in regiscost %}
                        {% if registype == 'person' %} 
                        <li class="list-group-item">ค่าจดทะเบียน : {{r.regis_personal}}</li>
                        {% else %} 
                        <li class="list-group-item">ค่าจดทะเบียน : {{r.regis_company}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
</div>
</div>
<!--ส่วนกรอกข้อมูล-->
<form  action="Normalcalculate"  method="POST">
  {% csrf_token %}
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">ไฟเเนนซ์</label>
    <select class="form-select" id="inputGroupSelect01" name="financecompany">
      <option selected>เลือกบริษัทไฟเเนนซ์</option>
      <option value="AY">กรุงศรี</option>
      <option value="City">ซิตี้ เเบงค์</option>
      <option value="ICBC">ไอซีบีซี</option>
      <option value="K">กสิกรไทย</option>
      <option value="KPP">เกียรตินาคิน</option>
      <option value="SCB">SCB</option>
      <option value="TISCO">TISCO</option>
      <option value="TTB">ทหารไทย</option>
    </select>
  </div>

 

  <div style="margin-top: 2vh;" class="d-grid gap-1">
      <button type="submit" class="btn btn-success">ดำเนินการต่อ</button>
  </div>
</form>



{% endblock %}





                