{% extends 'layout.html' %}
{% block content %}
{% load static %}
   {% block style %}
      <link  href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% endblock %}
    {% if username != "" %}
     <h1  style="text-align:center; margin: 1vh ;">ยินดีต้อนรับ คุณ {{username}}</h1>
    {% endif %}
    <img  src="{% static 'picture/Newmghs.png' %}" class="img-fluid" alt="..."/>
     <form  action="queryprice"  method="POST">
      {% csrf_token %}
        <label for="formGroupExampleInput2" class="col-sm-2 col-form-label col-form-label-lg">เลือกรุ่นย่อย</label>
        <select class="form-select form-select-lg mb-3" name="submodel" aria-label=".form-select-lg example">
          <option selected>Choose Model Grade</option>
          <option value="MGHSPHEV2020">MG HS PHEV 2020</option>
          <option value="MGHS1.5TD2020">MG HS 1.5T D 2020</option>
        </select>

        <div style="margin-top: 2vh;" class="d-grid gap-1">
            <button type="submit" class="btn btn-info">สอบถาม ราคา เเละ ส่วนลด</button>
        </div>
    </form>
    <div style="margin: 2vh 0vh;" class="d-grid gap-1">
      <a  href="https://www.mgcars.com/th/mg-models/new-mg-hs/overview" class="btn btn-warning">รายละเอียดรถรุ่น</a>
    </div>
    
{% endblock %}
