
{% extends 'layout.html' %}
{% block content %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'js/checksubmodel.js' %}" defer></script>
{%  endblock %}


   {% block style %}
      <link  href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% endblock %}
    <div id="error-queryprice" style="display: none;" class="alert alert-danger" role="alert">
      กรุณาเลือกรุ่นย่อย
    </div>
    <div align="center">
      <img  src="{% static 'picture/Newmg5.png' %}" class="img-fluid" alt="..."/>
    </div>
     
     <form  action="queryprice"  method="POST" >
      {% csrf_token %}
        <label for="formGroupExampleInput2" class="col-sm-3 col-form-label col-form-label-lg">เลือกรุ่นย่อย</label>
        <select class="form-select form-select-lg mb-3" name="submodel" aria-label=".form-select-lg example">
            <option value="-" selected>Choose Model Grade</option>
            <option value="MG51.5XMY2022">MG5 1.5 X MY2022</option>
            <option value="MG51.5D+MY2022">MG5 1.5 D+ MY2022</option>
            <option value="MG51.5DMY2022">MG5 1.5 D MY2022</option>
            <option value="MG51.5CMY2022">MG5 1.5 C MY2022</option>
          </select>

        <div style="margin-top: 2vh;" class="d-grid gap-1">
            <button type="submit" id="checksubmodel" class="btn btn-info">สอบถาม ราคา เเละ ส่วนลด</button>
        </div>
    </form>
    
      <div style="margin: 2vh 0vh;" class="d-grid gap-1">
        <a  href="https://www.mgcars.com/th/mg-models/all-new-mg5/overview" class="btn btn-warning">รายละเอียดรถรุ่น</a>
      </div>
    
    
{% endblock %}
