{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static 'js/checksubmodel.js' %}" defer></script> <!---->
{%  endblock %}

{% block style %}
<style>
  .form-select {
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
  }
  
  label {
    margin-left: 2vw;
  }
</style>
{% endblock %}
 
    <div align="center">
      <img  src="{% static 'picture/Newmgzs.png' %}" class="img-fluid" alt="..."/>
    </div>
    
    <form  action="queryprice"  method="POST" id="formsubmode" >  <!---->
      {% csrf_token %}
      <label for="formGroupExampleInput2" class="col-lg col-form-label col-form-label-lg"><strong>Choose Grade</strong></label>
      <select onchange="appendbutton()" class="form-select form-select-lg mb-3" name="submodel" id="submodelid" aria-label=".form-select-lg example"> <!---->
            <option value="-" selected>Choose Model Grade</option>
            <option value="MGZS1.5X+">MG ZS 1.5 X+</option>
            <option value="MGZS1.5LTD">MG ZS 1.5 LTD</option>
            <option value="MGZS1.5D+">MG ZS 1.5 D+</option>
            <option value="MGZS(MY2022)1.5C+">MG ZS (MY2022) 1.5C+</option>
            <option value="MGZS(MY2022)1.5D">MG ZS (MY2022) 1.5 D</option>
            <option value="MGZS(MY2022)1.5X">MG ZS (MY2022) 1.5X</option>
            <option value="MGZS(MY2022)1.5V">MG ZS (MY2022) 1.5V</option>
          </select>

          <div id="append-btn" style="display:none"> 
            <div  align="center" style="display : flex; justify-content: center; margin-top: 3vh;">
              <button  type="submit" style="display: flex;
              justify-content: center;
              padding : 0px 3vw;
              width : 35%;
              height : 50px;
              font-size : 26px;
              border-radius : 20px;
              border : 4px solid white ;
              outline-style: solid;
              outline-color: #9933ff;
              outline-width: thick;
              background: #9933ff;">
                <strong class="text-light"  style="height: 100%;">Continue</strong>
              </button> 
            </div>
          </div>
  
    </form>
    
    
{% endblock %}
