{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static 'js/checksubmodel.js' %}" defer></script> <!---->
{%  endblock %}
{% block style %}
<style>
  .form-select {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
  }
  label {
    margin-left: 2vw;
  }
</style>
{% endblock %}
    <div align="center">
      <img  src="{% static 'picture/MGZSEV.png' %}" class="img-fluid" alt="Newmgzs.png"/>
    </div>
    <form  action="queryprice"  method="POST" id="formsubmode" >
      {% csrf_token %}
      <label for="formGroupExampleInput2" class="col-lg col-form-label col-form-label-lg fw-bold fst-italic">Choose Grade</label>
      <select onchange="appendbutton()" class="form-select form-select mb-3" name="submodel" id="submodelid" aria-label=".form-select example"> <!---->
            <option value="-" selected disabled>กรุณาเลือกรุ่นย่อย</option>
            <option value="MGZS1.5X+">MG ZS 1.5 X+</option>
            <option value="MGZS1.5LTD">MG ZS 1.5 LTD</option>
            <option value="MGZS1.5D+">MG ZS 1.5 D+</option>
            <option value="MGZS(MY2022)1.5D">MG ZS (MY2022) 1.5 D</option>
            <option value="MGZS(MY2022)1.5X">MG ZS (MY2022) 1.5X</option>
            <option value="MGZS(MY2022)1.5V">MG ZS (MY2022) 1.5V</option>
            <option value="MGZSEVX">MG ZS EV X</option>
            <option value="MGZSEVD">MG ZS EV D</option>
      </select>
      <div id="append-btn" style="display:none">
        <div class="d-grid gap-1" >
          <button class="btn btn-danger" type="submit">ดำเนินการต่อ</button>
        </div>
      </div>
    </form>  
{% endblock %}
