{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}
<script src="{% static 'js/axios.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/checksubmodel.js' %}"></script>
{%  endblock %}
{% block style %}
  <style>
    .form-select {
      border: 1px solid gray;
      border-radius: 5px;
      text-align: center;
    }
    label {
      margin-left: 2vw;
    }
  </style>
{% endblock %}
  <div align="center">
    <img  src="{% static 'picture/Newmg5.png' %}" class="img-fluid" alt="Newmg5">
  </div>
     <form method="GET" action="queryprice">  
        <label for="formGroupExampleInput2" class="col-lg col-form-label col-form-label-lg fw-bold fst-italic">Choose Grade</label> 
        <select onchange="ajaxmodel()" class="form-select form-select mb-3" name="submodel" id="submodelid" aria-label=".form-select example"> 
            <option selected disabled>กรุณาเลือกรุ่นย่อย</option>
            <option value="MG51.5XMY2022">MG5 1.5 X MY2022</option>
            <option value="MG51.5D+MY2022">MG5 1.5 D+ MY2022</option>
            <option value="MG51.5DMY2022">MG5 1.5 D MY2022</option>
            <option value="MG51.5CMY2022">MG5 1.5 C MY2022</option>
        </select>
        <div class="justify-content-center align-items-center" id="show-price" style="display: none;">
          <h4 class="fw-bold fst-italic">ราคา : <span id="product-price"></span></h4>
        </div>
        <div id="append-btn" style="display:none">
          <div class="d-grid gap-1 mt-3" >
            <button class="btn btn-danger fw-bold" type="submit">ดำเนินการต่อ</button>
          </div>
        </div>
    </form>  
{% endblock %}
