{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!--<h2>บริษัทไฟเเนนซ์ : {{financecompany}}</h2>
<form action="calculatepayment" method="POST">
  {% csrf_token %}
<label  class="col-sm-2 col-form-label col-form-label-lg">เงินดาวน์</label>
   <select class="form-select form-select-lg mb-3" name="downpay" aria-label=".form-select-lg example">
     <option selected>เลือกเงินดาวน์</option>
     {% for i in condition_inter %}
     <option value= {{i.fi_down}} >{{i.fi_down}}%</option>
     {% endfor %}
   </select>
<label  class="col-sm-2 col-form-label col-form-label-lg">จำนวนงวด</label>
   <select class="form-select form-select-lg mb-3" name="monthqty" aria-label=".form-select-lg example">
     <option selected>เลือกจำนวนงวด</option>
     <option value= 48 >48 เดือน (4 ปี)</option>
     <option value= 60>60 เดือน (5 ปี)</option>
     <option value= 72 >72 เดือน (6 ปี)</option>
     <option value= 84 >84 เดือน (7 ปี)</option>
 
   </select>
   <div style="margin-top: 2vh;" class="d-grid gap-1">
    <button type="submit" class="btn btn-warning">คำนวนค่างวด</button>
   </div>

</form>
<h5>{{condition_inter}}</h5>
{% for i in condition_inter %}
<h6>{{i}}</h6>


{% endfor %}

-->


 

{% endblock %}