<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Quotation Page</title>
       <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}">
       <link rel="stylesheet" href="{% static 'css/print.css' %}">
       {% block style %} {% endblock %}
       {% block script %}
       <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
       {% endblock %}
            
  <style>
  html body {
                      margin: 1vh 3vw;
                     
  }
  
  
  
  #addremark {
                      margin-left: 1vw;
                      font-size: 10px;
  }
  
  #onepage {
                      display: flex;
                     
  }
  
  table {
                      font-size: 13px;
                      margin: 0px 1vw;
  }
  
  .nameacc {
                      font-size: 12px;
  }
    </style>
   
         
  
</head>
<body>

  


<div id="savePDF">


  <header class="header">
    <h3 align="center" >ใบเสนอราคา</h3>
  </header>

<div id="onepage">

  <div class="container" style="width: 100vw;">
    <table class="table table-sm">
                     <thead>
                       <tr>
                         <th  colspan="2" class="text-success">ข้อมูลทั่วไป</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <th>วันที่ใบเสนอราคา :</th>
                         <td>{{now|date:'d-M-Y'}}</td>
                       </tr>
                       <tr>
                         <th>รถยนต์ MG รุ่น :</th>
                         <td>{{submodel}}</td>
 
                       </tr>
                       <tr>
                         <th scope="row">สีตัวถัง :</th>
                         <td>{{bodycolor}}</td>
  
                       </tr>
                       <tr>
                         <th scope="row">เงื่อนไขการซื้อ :</th>
                         {% if paytype == 'cash' %}
                         <td>เงินสด</td>
                         {% elif paytype == 'finance' %}
                         <td>จัดไฟเเนนซ์</td>
                         {% endif %}
                       </tr>
                       <tr>
                         <th scope="row">จดทะเบียนภาษี :</th>
                         {% if registype == 'person' %}
                         <td>บุคคล</td>
                         {% elif registype == 'company' %} 
                         <td>นิติบุคคล</td>
                         {% endif %}
                       </tr>
                       <tr>
                         <th scope="row">สาขาที่ออกรถ :</th>
                         {% if mgbranch == 'Ransit' %}
                         <td>รังสิตคลองสี่</td>
                         {% elif mgbranch == 'Srinakarin' %}
                         <td>ศรีนครินทร์</td>
                         {% elif mgbranch == 'Hathairat' %}
                         <td>หทัยราษฎร์</td>
                         {% endif %}
                       </tr>
                      
                     
                     </tbody>
                   </table>  
                   <table class="table table-sm">
                     <thead>
                       <tr>
                         <th colspan="2" class="text-success">รายละเอียดการซื้อรถยนต์</th>
                         
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <th  scope="row">ราคารถยนต์ :</th>
                         <td>{{productprice}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">บวกหัวค่าอุปกรณ์ :</th>
                         <td>{{add_eq}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">ส่วนลดราคารถยนต์ :</th>
                         <td>{{min_reduce}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">ราคารถยนต์สุทธิ :</th>
                         <td>{{net_produceprice}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">เงินดาวน์ :</th>
                         <td>{{gen_down}}% = {{cost_down}} บาท </td>
 
                       </tr>
                       <tr>
                         <th scope="row">ส่วนลดเงินดาวน์ :</th>
                         <td>{{min_subdown}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">เงินดาวน์สุทธิ :</th>
                         <td>{{exit_cost_down}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">ยอดจัดไฟแนนซ์ :</th>
                         <td>{{cost_finance}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">จำนวนงวด :</th>
                         <td>{{gen_month}} เดือน</td>
 
 
                       </tr>
                       <tr>
                         <th scope="row">Kickback :</th>
                         <td>{{add_kickback}} บาท</td>
 
                       </tr>
                       <tr>
                         <th scope="row">ดอกเบี้ยไฟเเนนซ์ :</th>
                         <td>{{gen_inter}}%</td>
 
                       </tr>
                       <tr>
                        <th scope="row">ดอกเบี้ยลูกค้า :</th>
                        <td>{{min_inter}}%</td>

                      </tr>
                       <tr>
                         <th scope="row">โปรโมชั่น Subsidy :</th>
                         <td>{{min_prosub}} บาท</td>
 
                       </tr>
                       
                       <tr>
                         <th scope="row">ค่างวด/เดือน :</th>
                         <td>{{month_payment}} บาท</td>
 
                       </tr>
                       {% if paytype == 'finance' %}
                       <tr>
                         <th scope="row">เงื่อนไขดอกเบี้ย :</th>
                         {% if condition_finance == 'END' %}
                         <td>Ending</td>
                         {% elif condition_finance == 'BEGIN' %}
                         <td>Begining</td>
                         {% endif %}
                       </tr>
                       <tr>
                         <th scope="row">บริษัทไฟแนนซ์ :</th>
                         {% if gen_company == 'K' %}
                         <td>ลีสซิ่งกสิกรไทย</td>
                         {% elif gen_company == 'TTB' %}
                         <td>ทหารไทยธนชาต</td>
                         {% elif gen_company == 'AY' %}
                         <td>กรุงศรีออโต้</td>
                         {% elif gen_company == 'ICBC' %}
                         <td>ICBC</td>
                         {% elif gen_company == 'KPP' %}
                         <td>เกียรตินาคิน</td>
                         {% elif gen_company == 'TISCO' %}
                         <td>TISCO</td>
                         {% elif gen_company == 'SCB' %}
                         <td>ไทยพาณิชย์</td>
                         {% elif gen_company == 'CITY' %}
                         <td>Cityleasing</td>
                         {% endif %}
 
                       </tr>
                        {% endif %}
                     </tbody>
                   </table>

                   <table  class="table table-sm">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-success">รายการของเเถม/อุปกรณ์ตกเเต่ง</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if paytype == 'finance' %}
                      {% if statusvatdown == '1' %}
                      <tr>
                        <th scope="row">Vat Sub ดาวน์ 7% :</th>
                        <td>{{exit_cost_down_vat}} บาท</td>
                      </tr>
                      {% endif %}
                    {% endif %}
                      {% if min_regis != '0' %}
                      <tr>
                        <th scope="row">ค่าจดทะเบียน :</th>
                        <td>{{min_regis}} บาท</td>
                      </tr>
                      {% endif %}

                      {% if min_pdi != 0 %}
                      <tr>
                        <th scope="row">ค่า PDI :</th>
                        <td>{{min_pdi}} บาท</td>
                      </tr>
                      {% endif %}

                      {% if min_frame != 0 %}
                      <tr>
                        <th scope="row">กรอบป้ายทะเบียน :</th>
                        <td>{{min_frame}} บาท</td>
                      </tr>
                      {% endif %}

                      {% if min_polish != 0 %}
                      <tr>
                        <th scope="row">ขัดเคลือบสีรถใหม่ :</th>
                        <td>{{min_polish}} บาท</td>
                      </tr>
                      {% endif %}
                      <tr>
                        <th scope="row">อุปกรณ์ตกเเต่ง :</th>
                        <td>{{min_acc}} บาท</td>
                      </tr>
                      <tr>
                        <th scope="row">รวมของเเถม/อุปกรณ์ตกเเต่ง :</th>
                        <td>{{total_gift}} บาท</td>
                      </tr>
                    
                    </tbody>
                  </table>
                   
 
 </div>
    
 <div class="container" style="width: 100vw;">
   
                   <table class="table table-sm">
                     <thead>
                       <tr>
                         <th colspan="2" class="text-success">รายละเอียดค่าใช้จ่ายวันออกรถยนต์</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         {% if paytype == 'finance' %}
                         <th scope="row">เงินดาวน์ :</th>
                         <td>{{exit_cost_down}} บาท</td>
                         {% elif paytype == 'cash' %}
                         <th scope="row">ราคารถยนต์สุทธิ :</th>
                         <td>{{net_productprice}} บาท</td>
                         {% endif %}
                       </tr>
                       <tr>
                         <th scope="row">ค่าประกันภัย ชั้น 1 :</th>
                         <td><strong class="text-success">ฟรี</strong></td>
                       </tr>
                       <tr>
                         <th scope="row">ค่า พ.ร.บ. :</th>
                         <td><strong class="text-success">ฟรี</strong></td>
                       </tr>
 
                       {% if min_regis == '0' %}
                       <tr>
                         <th scope="row">ค่าจดทะเบียน :</th>
                         <td>{{regiscost}} บาท</td>
                       </tr>
                       <tr>
                       {% endif %}
 
                         <th scope="row">ค่าประกันป้ายแดง(ได้คืน) :</th>
                         <td>{{red_frame}} บาท</td>
                       </tr>
                       {% if condition_finance == 'BEGIN' %}
                       <tr>
                         <th scope="row">ค่างวดแรก(Beginning) :</th>
                         <td>{{month_payment}} บาท</td>
                       </tr>
                       {% endif %}
                       {% if statusvatdown == '0' %}
                       <tr>
                         <th scope="row">Vat Sub ดาวน์ 7% :</th>
                         <td>{{exit_cost_down_vat}} บาท</td>
                       </tr>
                       {% endif %}
                       <tr>
                         <th scope="row">หักเงินจอง :</th>
                         <td>{{gen_prepay}} บาท</td>
                       </tr>
                       <tr>
                         <th scope="row">รวมค่าใช้จ่ายวันออกรถ :</th>
                         {% if paytype == 'finance' %}
                          <td>{{total_exit}} บาท</td>
                         {% elif paytype == 'cash' %}
                          <td>{{total_exit_cash}} บาท</td>
                         {% endif %}
                       </tr>
                     </tbody>
                   </table>

    
                   
                   <table  class="table table-sm">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-success">รายการอุปกรณ์ตกเเต่ง</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <ul >
                            {% if text_acc_card != "-" %}
                            <li class="nameacc">{{text_acc_card}}</li>
                            {% endif %}
                            {% if text_acc_1 != "-" %}
                            <li class="nameacc">{{text_acc_1}}</li>
                            {% endif %}
                            {% if text_acc_2 != "-" %}
                            <li class="nameacc">{{text_acc_2}}</li>
                            {% endif %}
                            {% if text_acc_3 != "-" %}
                            <li class="nameacc">{{text_acc_3}}</li>
                            {% endif %}
                            {% if text_acc_4 != "-" %}
                            <li class="nameacc">{{text_acc_4}}</li>
                            {% endif %}
                            {% if text_acc_5 != "-" %}
                            <li class="nameacc">{{text_acc_5}}</li>
                            {% endif %}
                            {% if text_acc_6 != "-" %}
                            <li class="nameacc">{{text_acc_6}}</li>
                            {% endif %}
                            {% if text_acc_7 != "-" %}
                            <li class="nameacc">{{text_acc_7}}</li>
                            {% endif %}
                            {% if text_acc_8 != "-" %}
                            <li class="nameacc">{{text_acc_8}}</li>
                            {% endif %}
                            {% if text_acc_9 != "-" %}
                            <li class="nameacc">{{text_acc_9}}</li>
                            {% endif %}
                            {% if text_acc_10 != "-" %}
                            <li class="nameacc">{{text_acc_10}}</li>
                            {% endif %}
                            {% if text_acc_11 != "-" %}
                            <li class="nameacc">{{text_acc_11}}</li>
                            {% endif %}
                            {% if text_acc_12 != "-" %}
                            <li class="nameacc">{{text_acc_12}}</li>
                            {% endif %}
                            {% if text_acc_13 != "-" %}
                            <li class="nameacc">{{text_acc_13}}</li>
                            {% endif %}
                            {% if text_acc_14 != "-" %}
                            <li class="nameacc">{{text_acc_14}}</li>
                            {% endif %}
                            {% if text_acc_15 != "-" %}
                            <li class="nameacc">{{text_acc_15}}</li>
                            {% endif %}
                            {% if text_acc_16 != "-" %}
                            <li class="nameacc">{{text_acc_16}}</li>
                            {% endif %}
                            {% if text_acc_17 != "-" %}
                            <li class="nameacc">{{text_acc_17}}</li>
                            {% endif %}
                            {% if text_acc_18 != "-" %}
                            <li class="nameacc">{{text_acc_18}}</li>
                            {% endif %}
                            {% if text_acc_19 != "-" %}
                            <li class="nameacc">{{text_acc_19}}</li>
                            {% endif %}
                            {% if text_acc_20 != "-" %}
                            <li class="nameacc">{{text_acc_20}}</li>
                            {% endif %}
                          </ul>

                        </td>
                        

                      </tr>
                        
                    </tbody>
                  </table>

                  <table  class="table table-sm">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-success">หมายเหตุ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{gen_remark}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!----------ข้อมูลการติดต่อ----------->
                  
                  <table  class="table table-sm">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-success">ข้อมูลติดต่อ</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if sell_name != "-" and sell_phone != "-" %}
                         <tr>
                           <td>ผู้เสนอ: คุณ {{firstname}} /{{sell_phone}}</td>
                         </tr>
                      {% endif %}

                      {% if customer_name != "-" and customer_phone != "-" %}
                          <tr>
                            <td>ลูกค้า: คุณ {{customer_name}} /{{customer_phone}}</td>
                          </tr>
                      {% endif %}
                      <tr>
                        <td>-</td>
                      </tr>
                    </tbody>
                  </table>
                  

                  
                    
                                 
 
 </div>
</div>

<span id="addremark" style="margin-left: 2.5vw; font-size: 12px;">หมายเหตุ : เงื่อนไขเป็นไปตามที่บริษัทกำหนด</span>

</div>




<div class="d-grid gap-1" style="margin: 1vh 14vw;" id="printdonshow">
  <button onclick="saveToPdf()" class="btn btn-danger"><strong>Download PDF</strong></button>
</div>



<script>
     function saveToPdf() {
      const element = document.getElementById('savePDF');
      html2pdf().from(element).save();
 
     };
</script>




</body>
</html>