{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block style %}
<style>
.box-content {
    border: 3px solid LightBlue;
    border-radius: 15px;
    padding: 1vh;
    margin-bottom: 1vh;
}
</style>
{% endblock %}
<!--เเบบตัวเลือก
<select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>-->
<!--เเบบ option
<div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>-->
<!--input ธรรมดา
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>-->
<!--text area
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments</label>
</div>-->

<div  class="frm-body bg-white" style="margin-top: 2vh">
    <div class="box-content">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">ชื่อลูกค้า</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">เลขประจำตัวผู้เสียภาษี</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">โทรศัพท์</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="form-floating" style="margin-bottom: 1vh;">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 80px"></textarea>
            <label for="floatingTextarea1">ที่อยู่ปัจจุบัน....</label>
        </div>
    </div>

    <div class="box-content">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">รถยนต์ MG รุ่น</label>
            <select class="form-select text-center" id="inputGroupSelect01">
              <option selected disabled>กรุณาเลือก</option>
              <option disabled>*****New MG5 MY2022*****</option>
              <option value="1">MG5 1.5 X MY2022</option>
              <option value="2">MG5 1.5 D+ MY2022</option>
              <option value="1">MG5 1.5 D MY2022</option>
              <option value="2">MG5 1.5 C MY2022</option>
              <option disabled>*****MG ZS(MY 2022)*****</option>
              <option value="2">MG ZS(MY 2022) 1.5 V</option>
              <option value="1">MG ZS(MY 2022) 1.5 X</option>
              <option value="2">MG ZS(MY 2022) 1.5 D</option>
              <option disabled>*****MG ZS 2020*****</option>
              <option value="2">MG ZS 1.5 X+</option>
              <option value="1">MG ZS 1.5 LTD</option>
              <option value="2">MG ZS 1.5 D+</option>
              <option disabled>*****NEW MG VS HEV*****</option>
              <option value="2">MG VS HEV X (TWO TONE)</option>
              <option value="1">MG VS HEV X (MONO TONE)</option>
              <option value="2">MG VS HEV D</option>
              <option disabled>*****MG HS MCE*****</option>
              <option value="2">MG HS 1.5T MCE X MCE 2022</option>
              <option value="1">MG HS 1.5T D MCE 2022</option>
              <option value="2">MG HS 1.5T C MCE 2022</option>
              <option disabled>*****MG HS PHEV MCE*****</option>
              <option value="2">MG HS PHEV MCE X 2022</option>
              <option value="1">MG HS PHEV MCE D 2022</option>
              <option disabled>*****MG ZS EV 2022*****</option>
              <option value="1">MG ZS EV X</option>
              <option value="2">MG ZS EV D</option>
              <option disabled>*****New MG4*****</option>
              <option value="2">MG4 X </option>
              <option value="1">MG4 D</option>
              <option disabled>*****MG EP*****</option>
              <option value="1">MG EP+</option>
              <option disabled>*****MG EXTENDER(2021)*****</option>
              <option value="1">EXTENDER 2.0 DC G 4WD X 6AT</option>
              <option value="2">EXTENDER 2.0 DC G X 6AT</option>
              <option value="1">EXTENDER 2.0 DC G D 6MT</option>
              <option value="2">EXTENDER 2.0 GC G X 6MT</option>
              <option value="1">EXTENDER 2.0 GC G D 6AT</option>
              <option value="2">EXTENDER 2.0 GC G D 6MT</option>
              <option value="1">EXTENDER 2.0 GC D 6MT</option>
              <option value="2">EXTENDER 2.0 GC C 6MT</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">สีตัวถัง</label>
            <select class="form-select text-center" id="inputGroupSelect01">
              <option selected disabled>กรุณาเลือก</option>
              <option value="1">White</option>
              <option value="2">Black</option>
              <option value="2">Red</option>
              <option value="2">Grey</option>
              <option value="2">Yellow</option>
              <option value="2">Silver</option>
              <option value="2">Blue</option>
              <option value="2">White/Black</option>
              <option value="2">Grey/Black</option>
              <option value="2">Green/Black</option>
              <option value="2">Blue/Black</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">หมายเลขตัวถัง</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">หมายเลขเครื่องยนต์</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    
    </div>

    <div class="box-content">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">เงื่อนไขการซื้อ</label>
            <select class="form-select text-center" id="inputGroupSelect01">
              <option selected>กรุณาเลือก</option>
              <option value="1">ซื้อเงินสด</option>
              <option value="2">จัดไฟแนนซ์</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">จดทะเบียนภาษี</label>
            <select class="form-select text-center" id="inputGroupSelect01">
              <option selected disabled>กรุณาเลือก</option>
              <option value="1">บุคคล</option>
              <option value="2">นิติบุคคล</option>
            </select>
            <span class="input-group-text" id="inputGroup-sizing-default">เเคมเปญ</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">วิธีชำระเงิน</label>
            <select class="form-select text-center" id="inputGroupSelect01">
              <option selected disabled>กรุณาเลือก</option>
              <option value="1">โอนเข้าบัญชีธนาคาร</option>
              <option value="2">เงินสด</option>
              <option value="2">เช็คเงินสด</option>
              <option value="2">แคชเชียร์เช็ค</option>
              <option value="2">ดร๊าฟท์</option>
              <option value="2">รูดบัตรเครดิต</option>
            </select>
        </div>

<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">วันที่ใบจอง</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <span class="input-group-text" id="inputGroup-sizing-default">วันที่ส่งมอบ</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">ชื่อผู้ขาย</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <label class="input-group-text" for="inputGroupSelect01">สาขา</label>
    <select class="form-select text-center" id="inputGroupSelect01">
      <option selected disabled>กรุณาเลือก</option>
      <option value="1">ศรีนครินทร์</option>
      <option value="2">หทัยราษฎร์</option>
      <option value="2">รังสิตคลองสี่</option>
    </select>
</div>
</div>

{% endblock %}