{% extends 'layout.html' %}
{% load static %}

{% block style %}
<style>
 
  .card {
    padding : 5px;
    border-radius: 25px;
  }
  .card-header {
    padding : 2px 16px;
  }
  

  .form-select {
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
  }
  
  label {
    margin-left: 2vw;
  }
 
</style>
{% endblock %}

{% block script %}
   <script type="text/javascript" src="{% static 'js/checkshowprice.js' %}" defer></script>
{%  endblock %}

{% block content %}
<div class="frm-body bg-white">
               <div align="center" >
                 <div align="center" class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                     <div class="card-header"><h4><strong>รายละเอียด</strong></h4></div>
                     <ul class="list-group list-group-flush" style=" border-radius: 20px;">
                       <li class="list-group-item"> <h5><strong>รุ่นรถ :</strong> {{submodel}}</h5> </li>
                       <li class="list-group-item"><h5><strong>ราคา :</strong> {{productprice}}  บาท</h5> </li>
                     </ul>
                 </div>
               </div>
               <form action="Payment" method="POST"> <!--เรียกข้อมูลที่ส่งมาเเสดง-->
                {% csrf_token %}
                    <label for="formGroupExampleInput2" class="col-sm col-form-label col-form-label-lg"><strong>สีตัวถัง :</strong></label>
                    <select onchange="checkcondition()" id="bodycolor" class="form-select form-select-lg mb-3" name="bodycolor" aria-label=".form-select-lg example">
                        <option value="-" selected>เลือกสี</option> <!--ใช้ for loop run ตาม database-->
                        {% for i in productcolor %}
                        <option value={{i.color}}>{{i.color}}</option>
                        {% endfor %}
                      </select>
                    <label for="formGroupExampleInput2" class="col-sm col-form-label col-form-label-lg"><strong>ประเภทการซื้อ :</strong></label>
                    <select onchange="checkcondition()" id="paytype" class="form-select form-select-lg mb-3" name="paytype" aria-label=".form-select-lg example">
                        <option value="-" selected>เลือกประเภทการซื้อ</option>
                        <option value="cash">เงินสด</option>
                        <option value="finance">จัดไฟเเนนซ์</option>
                      </select>
                    <label for="formGroupExampleInput2" class="col-sm col-form-label col-form-label-lg"><strong>การจดทะเบียนภาษี :</strong></label>
                      <select onchange="checkcondition()" id="registype" class="form-select form-select-lg mb-3" name="registype" aria-label=".form-select-lg example">
                          <option  value='N'  selected>เลือกประเภทการจดทะเบียน</option>
                          <option value="person">บุคคล</option>
                          <option value="company">นิติบุคคล</option>
                      </select>
                    <label for="formGroupExampleInput2" class="col-sm col-form-label col-form-label-lg"><strong>สาขา :</strong></label>
                      <select onchange="checkcondition()" id="mgbranch" class="form-select form-select-lg mb-3" name="mgbranch" aria-label=".form-select-lg example">
                          <option value="-" selected>เลือกสาขาที่จะออกรถ</option>
                          <option value="Srinakarin">ศรีนครินทร์</option>
                          <option value="Ransit">รังสิตคลองสี่</option>
                          <option value="Hathairat">หทัยราษฎร์</option>
                        </select>
                    <div id="append-btn" style="display: none"> 
                     <div  align="center" style="display : flex; justify-content: center; margin-top: 2vh;">
                      <button type="submit" style="display: flex;
                      justify-content: center;
                      padding : 0px 3vw;
                      width : 35%;
                      height : 50px;
                      font-size : 26px;
                      border-radius : 20px;
                      border : 4px solid white ;
                      outline-style: solid;
                      outline-color: #9933ff;
                      outline-width: thick;
                      background: #9933ff;">
                        <strong class="text-light"  style="height: 100%;">Continue</strong>
                        
                      </button> 
                    </div>
                  </div>
            
                    
               </form>
    
</div>  
     
{% endblock %}





