{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link  href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
   <script type="text/javascript" src="{% static 'js/function.js' %}" defer></script>
{%  endblock %}

{% block content %}

<div align="center" style="margin-top: 2vh;">
  <div align="center" class="card text-white bg-success mb-3" style="max-width: 35rem;">
      <div class="card-header"><h3>รายละเอียด ราคาเเละส่วนลด</h3></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <h4>รุ่นรถ : {{submodel}}</h4> </li>
        <li class="list-group-item"><h4>ราคา : {{productprice}}  บาท</h4> </li>
        <li class="list-group-item"><h4>ส่วนลด : <strong  class="text-success">{{productmargin}}</strong>  บาท</h4> </li>
      </ul>
  </div>
</div>
               <form action="Payment" method="POST"> <!--เรียกข้อมูลที่ส่งมาเเสดง-->
                {% csrf_token %}
                    <label for="formGroupExampleInput2" class="col-sm-2 col-form-label col-form-label-lg">สีตัวถัง</label>
                    <select id="bodycolor" class="form-select form-select-lg mb-3" name="bodycolor" aria-label=".form-select-lg example">
                        <option value="" selected>เลือกสี</option> <!--ใช้ for loop run ตาม database-->
                        <!--นำไปใช้กับอุปกรณ์ตกเเต่ง-->
                        {% for i in productcolor %}
                        <option value={{i.color}}>{{i.color}}</option>
                        {% endfor %}
                      </select>
                      <div id="error-bodycolor" style="display: none;" class="alert alert-danger" role="alert">
                        กรุณาเลือกสีตัวถัง
                      </div>
                    <label for="formGroupExampleInput2" class="col-sm-3 col-form-label col-form-label-lg">ประเภทการซื้อ</label>
                    <select id="paytype" class="form-select form-select-lg mb-3" name="paytype" aria-label=".form-select-lg example">
                        <option value="" selected>เลือกประเภทการซื้อ</option>
                        <option value="cash">เงินสด</option>
                        <option value="finance">จัดไฟเเนนซ์</option>
                      </select>
                      <div id="error-paytype" style="display: none;" class="alert alert-danger" role="alert">
                        กรุณาเลือกประเภทการซื้อ
                      </div>
                    <label for="formGroupExampleInput2" class="col-sm-3 col-form-label col-form-label-lg">การจดทะเบียน</label>
                      <select id="registype" class="form-select form-select-lg mb-3" name="registype" aria-label=".form-select-lg example">
                          <option  value='N'  selected>เลือกประเภทการจดทะเบียน</option>
                          <option value="person">บุคคล</option>
                          <option value="company">นิติบุคคล</option>
                        </select>
                        <div id="error-registype" style="display: none;" class="alert alert-danger" role="alert">
                          กรุณาเลือกประเภทการจดทะเบียน
                        </div>
                    <label for="formGroupExampleInput2" class="col-sm-3 col-form-label col-form-label-lg">สาขา</label>
                      <select id="mgbranch" class="form-select form-select-lg mb-3" name="mgbranch" aria-label=".form-select-lg example">
                          <option value="" selected>เลือกสาขาที่จะออกรถ</option>
                          <option value="Srinakarin">ศรีนครินทร์</option>
                          <option value="Ransit">รังสิตคลองสี่</option>
                          <option value="Hathairat">หทัยราษฎร์</option>
                        </select>
                        <div id="error-mgbranch" style="display: none;" class="alert alert-danger" role="alert">
                          กรุณาเลือกสาขาที่จะออกรถ
                        </div>
                    <div style="margin: 3vh 0vh;  height: 4vh;" class="d-grid gap-1">
                                    <button type="submit"  id="checkshowprice" class="btn btn-success"><strong>ดำเนินการต่อ</strong></button>
                     </div>
                    
               </form>
              
{% endblock %}





