{% extends 'layout.html' %}
{% load static %}

{% block style %}
<style>
  .card {
    border: 3px solid black;
    border-radius: 35px;
    box-shadow: 10px 10px 5px #666699;
    margin-top : 2vh;
    padding: 5px 10px;
   }
  .img-fluid {
    position : relative;
    height : 40px;
    width : 40px;
  }
  .card-body {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
   }
  #content-box1 {
    width : 40vw;
    padding : 0px 1px;
    display: flex; 
    flex-direction:column;
  }
  #content-box2 {
    width : 40vw;
    padding : 0px 1px;
    display: flex; 
    flex-direction:column;
  }
  .btn-outline-light {
    height: 100%;
  }

</style>
{% endblock %}




{% block content %}
{% if datacustomer.count > 0 %}
   
<!--ส่วนข้อมูล-->
 
 {% for i in datacustomer %}
 <!---สร้างเพื่อให้ javascript เก็บค่า-->
          <div  class="card" id="color-card">
            <div class="card-body">
              <div class="card-image">
              </div>
              <div id="content-box1" >
                <span>วันที่ : {{i.date}}/{{i.firstname}}</span>
                <span>รุ่นรถ : {{i.mainmodel}}/{{i.chanelcustomer}}</span>
                <span>หมายเหตุ : {{i.remark}}</span>
              </div>
              <div id="content-box2" > 
                <span>ชื่อลูกค้า : {{i.customername}}</span>
                <span>ติดต่อ : {{i.contactcustomer}}</span>
                <span>สถานะล่าสุด : {{i.statuscustomer}}</span>
              </div>
              <form action="editcard" method="POST">
                {% csrf_token %}
                <button name="idcard" value={{i.id}}  type="submit" class ="btn btn-outline-light" >
                  <img  id="card-image" src="{% static 'picture/icons-view-64.png' %}" class="img-fluid" alt="..."  >
                </button>
              </form>
            </div>
          </div>
   

 {% endfor %}

{% endif %}

{% endblock %}