{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
  .frm-box {
    margin: 1vh 1vh 1vw 1vw;
  }
  #btn-upload { 
    margin  : 1vh 1vw;
  }


</style>
{% endblock %}

{% block content %}
<div  class="frm-body bg-white">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% if not form.is_valid %}
<form method="post" enctype="multipart/form-data" id="frm-upload" action="upload">
    {% csrf_token %} 
    <div class="frm-box">
        {{form | crispy}}
    </div>
    
    <div  align="center" style="display : flex; justify-content: center; margin-top: 2vh;">
      <button id="btn-upload" type="submit" style="display: flex;
      justify-content: center;
      padding : 0px 3vw;
      width : 20%;
      height : 40px;
      font-size : 20px;
      border-radius : 20px;
      border : 4px solid white ;
      outline-style: solid;
      outline-color: #3399ff;
      outline-width: thick;
      background: #3399ff;">
        <strong class="text-light"  style="height: 100%; ">Upload</strong>
      </button> 
     <div>

</form>
{% endif %}

</div>


{% endblock %}




